// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-agencies-name: 'sp-i-agencies';
$sp-i-agencies-x: 99px;
$sp-i-agencies-y: 89px;
$sp-i-agencies-offset-x: -99px;
$sp-i-agencies-offset-y: -89px;
$sp-i-agencies-width: 57px;
$sp-i-agencies-height: 40px;
$sp-i-agencies-total-width: 248px;
$sp-i-agencies-total-height: 198px;
$sp-i-agencies-image: '../image/sprite.png';
$sp-i-agencies: (99px, 89px, -99px, -89px, 57px, 40px, 248px, 198px, '../image/sprite.png', 'sp-i-agencies', );
$sp-i-competitors-name: 'sp-i-competitors';
$sp-i-competitors-x: 91px;
$sp-i-competitors-y: 0px;
$sp-i-competitors-offset-x: -91px;
$sp-i-competitors-offset-y: 0px;
$sp-i-competitors-width: 108px;
$sp-i-competitors-height: 63px;
$sp-i-competitors-total-width: 248px;
$sp-i-competitors-total-height: 198px;
$sp-i-competitors-image: '../image/sprite.png';
$sp-i-competitors: (91px, 0px, -91px, 0px, 108px, 63px, 248px, 198px, '../image/sprite.png', 'sp-i-competitors', );
$sp-i-digital-marketers-name: 'sp-i-digitalMarketers';
$sp-i-digital-marketers-x: 204px;
$sp-i-digital-marketers-y: 0px;
$sp-i-digital-marketers-offset-x: -204px;
$sp-i-digital-marketers-offset-y: 0px;
$sp-i-digital-marketers-width: 44px;
$sp-i-digital-marketers-height: 40px;
$sp-i-digital-marketers-total-width: 248px;
$sp-i-digital-marketers-total-height: 198px;
$sp-i-digital-marketers-image: '../image/sprite.png';
$sp-i-digital-marketers: (204px, 0px, -204px, 0px, 44px, 40px, 248px, 198px, '../image/sprite.png', 'sp-i-digitalMarketers', );
$sp-i-ecommerce-name: 'sp-i-ecommerce';
$sp-i-ecommerce-x: 0px;
$sp-i-ecommerce-y: 160px;
$sp-i-ecommerce-offset-x: 0px;
$sp-i-ecommerce-offset-y: -160px;
$sp-i-ecommerce-width: 51px;
$sp-i-ecommerce-height: 38px;
$sp-i-ecommerce-total-width: 248px;
$sp-i-ecommerce-total-height: 198px;
$sp-i-ecommerce-image: '../image/sprite.png';
$sp-i-ecommerce: (0px, 160px, 0px, -160px, 51px, 38px, 248px, 198px, '../image/sprite.png', 'sp-i-ecommerce', );
$sp-i-facebook-name: 'sp-i-facebook';
$sp-i-facebook-x: 204px;
$sp-i-facebook-y: 45px;
$sp-i-facebook-offset-x: -204px;
$sp-i-facebook-offset-y: -45px;
$sp-i-facebook-width: 20px;
$sp-i-facebook-height: 38px;
$sp-i-facebook-total-width: 248px;
$sp-i-facebook-total-height: 198px;
$sp-i-facebook-image: '../image/sprite.png';
$sp-i-facebook: (204px, 45px, -204px, -45px, 20px, 38px, 248px, 198px, '../image/sprite.png', 'sp-i-facebook', );
$sp-i-google-analytics-name: 'sp-i-googleAnalytics';
$sp-i-google-analytics-x: 204px;
$sp-i-google-analytics-y: 145px;
$sp-i-google-analytics-offset-x: -204px;
$sp-i-google-analytics-offset-y: -145px;
$sp-i-google-analytics-width: 21px;
$sp-i-google-analytics-height: 21px;
$sp-i-google-analytics-total-width: 248px;
$sp-i-google-analytics-total-height: 198px;
$sp-i-google-analytics-image: '../image/sprite.png';
$sp-i-google-analytics: (204px, 145px, -204px, -145px, 21px, 21px, 248px, 198px, '../image/sprite.png', 'sp-i-googleAnalytics', );
$sp-i-google-drive-name: 'sp-i-googleDrive';
$sp-i-google-drive-x: 204px;
$sp-i-google-drive-y: 119px;
$sp-i-google-drive-offset-x: -204px;
$sp-i-google-drive-offset-y: -119px;
$sp-i-google-drive-width: 21px;
$sp-i-google-drive-height: 21px;
$sp-i-google-drive-total-width: 248px;
$sp-i-google-drive-total-height: 198px;
$sp-i-google-drive-image: '../image/sprite.png';
$sp-i-google-drive: (204px, 119px, -204px, -119px, 21px, 21px, 248px, 198px, '../image/sprite.png', 'sp-i-googleDrive', );
$sp-i-letter-o-name: 'sp-i-letter-O';
$sp-i-letter-o-x: 204px;
$sp-i-letter-o-y: 88px;
$sp-i-letter-o-offset-x: -204px;
$sp-i-letter-o-offset-y: -88px;
$sp-i-letter-o-width: 26px;
$sp-i-letter-o-height: 26px;
$sp-i-letter-o-total-width: 248px;
$sp-i-letter-o-total-height: 198px;
$sp-i-letter-o-image: '../image/sprite.png';
$sp-i-letter-o: (204px, 88px, -204px, -88px, 26px, 26px, 248px, 198px, '../image/sprite.png', 'sp-i-letter-O', );
$sp-i-list-circle-name: 'sp-i-list-circle';
$sp-i-list-circle-x: 229px;
$sp-i-list-circle-y: 45px;
$sp-i-list-circle-offset-x: -229px;
$sp-i-list-circle-offset-y: -45px;
$sp-i-list-circle-width: 10px;
$sp-i-list-circle-height: 10px;
$sp-i-list-circle-total-width: 248px;
$sp-i-list-circle-total-height: 198px;
$sp-i-list-circle-image: '../image/sprite.png';
$sp-i-list-circle: (229px, 45px, -229px, -45px, 10px, 10px, 248px, 198px, '../image/sprite.png', 'sp-i-list-circle', );
$sp-i-neighbours-name: 'sp-i-neighbours';
$sp-i-neighbours-x: 0px;
$sp-i-neighbours-y: 89px;
$sp-i-neighbours-offset-x: 0px;
$sp-i-neighbours-offset-y: -89px;
$sp-i-neighbours-width: 94px;
$sp-i-neighbours-height: 66px;
$sp-i-neighbours-total-width: 248px;
$sp-i-neighbours-total-height: 198px;
$sp-i-neighbours-image: '../image/sprite.png';
$sp-i-neighbours: (0px, 89px, 0px, -89px, 94px, 66px, 248px, 198px, '../image/sprite.png', 'sp-i-neighbours', );
$sp-i-timeseries-name: 'sp-i-timeseries';
$sp-i-timeseries-x: 0px;
$sp-i-timeseries-y: 0px;
$sp-i-timeseries-offset-x: 0px;
$sp-i-timeseries-offset-y: 0px;
$sp-i-timeseries-width: 86px;
$sp-i-timeseries-height: 84px;
$sp-i-timeseries-total-width: 248px;
$sp-i-timeseries-total-height: 198px;
$sp-i-timeseries-image: '../image/sprite.png';
$sp-i-timeseries: (0px, 0px, 0px, 0px, 86px, 84px, 248px, 198px, '../image/sprite.png', 'sp-i-timeseries', );
$sp-i-agencies-2x-name: 'sp-i-agencies@2x';
$sp-i-agencies-2x-x: 198px;
$sp-i-agencies-2x-y: 178px;
$sp-i-agencies-2x-offset-x: -198px;
$sp-i-agencies-2x-offset-y: -178px;
$sp-i-agencies-2x-width: 114px;
$sp-i-agencies-2x-height: 80px;
$sp-i-agencies-2x-total-width: 496px;
$sp-i-agencies-2x-total-height: 396px;
$sp-i-agencies-2x-image: '../image/sprite@2x.png';
$sp-i-agencies-2x: (198px, 178px, -198px, -178px, 114px, 80px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-agencies@2x', );
$sp-i-competitors-2x-name: 'sp-i-competitors@2x';
$sp-i-competitors-2x-x: 182px;
$sp-i-competitors-2x-y: 0px;
$sp-i-competitors-2x-offset-x: -182px;
$sp-i-competitors-2x-offset-y: 0px;
$sp-i-competitors-2x-width: 216px;
$sp-i-competitors-2x-height: 126px;
$sp-i-competitors-2x-total-width: 496px;
$sp-i-competitors-2x-total-height: 396px;
$sp-i-competitors-2x-image: '../image/sprite@2x.png';
$sp-i-competitors-2x: (182px, 0px, -182px, 0px, 216px, 126px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-competitors@2x', );
$sp-i-digital-marketers-2x-name: 'sp-i-digitalMarketers@2x';
$sp-i-digital-marketers-2x-x: 408px;
$sp-i-digital-marketers-2x-y: 0px;
$sp-i-digital-marketers-2x-offset-x: -408px;
$sp-i-digital-marketers-2x-offset-y: 0px;
$sp-i-digital-marketers-2x-width: 88px;
$sp-i-digital-marketers-2x-height: 80px;
$sp-i-digital-marketers-2x-total-width: 496px;
$sp-i-digital-marketers-2x-total-height: 396px;
$sp-i-digital-marketers-2x-image: '../image/sprite@2x.png';
$sp-i-digital-marketers-2x: (408px, 0px, -408px, 0px, 88px, 80px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-digitalMarketers@2x', );
$sp-i-ecommerce-2x-name: 'sp-i-ecommerce@2x';
$sp-i-ecommerce-2x-x: 0px;
$sp-i-ecommerce-2x-y: 320px;
$sp-i-ecommerce-2x-offset-x: 0px;
$sp-i-ecommerce-2x-offset-y: -320px;
$sp-i-ecommerce-2x-width: 102px;
$sp-i-ecommerce-2x-height: 76px;
$sp-i-ecommerce-2x-total-width: 496px;
$sp-i-ecommerce-2x-total-height: 396px;
$sp-i-ecommerce-2x-image: '../image/sprite@2x.png';
$sp-i-ecommerce-2x: (0px, 320px, 0px, -320px, 102px, 76px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-ecommerce@2x', );
$sp-i-facebook-2x-name: 'sp-i-facebook@2x';
$sp-i-facebook-2x-x: 408px;
$sp-i-facebook-2x-y: 90px;
$sp-i-facebook-2x-offset-x: -408px;
$sp-i-facebook-2x-offset-y: -90px;
$sp-i-facebook-2x-width: 40px;
$sp-i-facebook-2x-height: 76px;
$sp-i-facebook-2x-total-width: 496px;
$sp-i-facebook-2x-total-height: 396px;
$sp-i-facebook-2x-image: '../image/sprite@2x.png';
$sp-i-facebook-2x: (408px, 90px, -408px, -90px, 40px, 76px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-facebook@2x', );
$sp-i-google-analytics-2x-name: 'sp-i-googleAnalytics@2x';
$sp-i-google-analytics-2x-x: 408px;
$sp-i-google-analytics-2x-y: 290px;
$sp-i-google-analytics-2x-offset-x: -408px;
$sp-i-google-analytics-2x-offset-y: -290px;
$sp-i-google-analytics-2x-width: 42px;
$sp-i-google-analytics-2x-height: 42px;
$sp-i-google-analytics-2x-total-width: 496px;
$sp-i-google-analytics-2x-total-height: 396px;
$sp-i-google-analytics-2x-image: '../image/sprite@2x.png';
$sp-i-google-analytics-2x: (408px, 290px, -408px, -290px, 42px, 42px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-googleAnalytics@2x', );
$sp-i-google-drive-2x-name: 'sp-i-googleDrive@2x';
$sp-i-google-drive-2x-x: 408px;
$sp-i-google-drive-2x-y: 238px;
$sp-i-google-drive-2x-offset-x: -408px;
$sp-i-google-drive-2x-offset-y: -238px;
$sp-i-google-drive-2x-width: 42px;
$sp-i-google-drive-2x-height: 42px;
$sp-i-google-drive-2x-total-width: 496px;
$sp-i-google-drive-2x-total-height: 396px;
$sp-i-google-drive-2x-image: '../image/sprite@2x.png';
$sp-i-google-drive-2x: (408px, 238px, -408px, -238px, 42px, 42px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-googleDrive@2x', );
$sp-i-letter-o-2x-name: 'sp-i-letter-O@2x';
$sp-i-letter-o-2x-x: 408px;
$sp-i-letter-o-2x-y: 176px;
$sp-i-letter-o-2x-offset-x: -408px;
$sp-i-letter-o-2x-offset-y: -176px;
$sp-i-letter-o-2x-width: 52px;
$sp-i-letter-o-2x-height: 52px;
$sp-i-letter-o-2x-total-width: 496px;
$sp-i-letter-o-2x-total-height: 396px;
$sp-i-letter-o-2x-image: '../image/sprite@2x.png';
$sp-i-letter-o-2x: (408px, 176px, -408px, -176px, 52px, 52px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-letter-O@2x', );
$sp-i-list-circle-2x-name: 'sp-i-list-circle@2x';
$sp-i-list-circle-2x-x: 458px;
$sp-i-list-circle-2x-y: 90px;
$sp-i-list-circle-2x-offset-x: -458px;
$sp-i-list-circle-2x-offset-y: -90px;
$sp-i-list-circle-2x-width: 20px;
$sp-i-list-circle-2x-height: 20px;
$sp-i-list-circle-2x-total-width: 496px;
$sp-i-list-circle-2x-total-height: 396px;
$sp-i-list-circle-2x-image: '../image/sprite@2x.png';
$sp-i-list-circle-2x: (458px, 90px, -458px, -90px, 20px, 20px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-list-circle@2x', );
$sp-i-neighbours-2x-name: 'sp-i-neighbours@2x';
$sp-i-neighbours-2x-x: 0px;
$sp-i-neighbours-2x-y: 178px;
$sp-i-neighbours-2x-offset-x: 0px;
$sp-i-neighbours-2x-offset-y: -178px;
$sp-i-neighbours-2x-width: 188px;
$sp-i-neighbours-2x-height: 132px;
$sp-i-neighbours-2x-total-width: 496px;
$sp-i-neighbours-2x-total-height: 396px;
$sp-i-neighbours-2x-image: '../image/sprite@2x.png';
$sp-i-neighbours-2x: (0px, 178px, 0px, -178px, 188px, 132px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-neighbours@2x', );
$sp-i-timeseries-2x-name: 'sp-i-timeseries@2x';
$sp-i-timeseries-2x-x: 0px;
$sp-i-timeseries-2x-y: 0px;
$sp-i-timeseries-2x-offset-x: 0px;
$sp-i-timeseries-2x-offset-y: 0px;
$sp-i-timeseries-2x-width: 172px;
$sp-i-timeseries-2x-height: 168px;
$sp-i-timeseries-2x-total-width: 496px;
$sp-i-timeseries-2x-total-height: 396px;
$sp-i-timeseries-2x-image: '../image/sprite@2x.png';
$sp-i-timeseries-2x: (0px, 0px, 0px, 0px, 172px, 168px, 496px, 396px, '../image/sprite@2x.png', 'sp-i-timeseries@2x', );
$spritesheet-width: 248px;
$spritesheet-height: 198px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-agencies, $sp-i-competitors, $sp-i-digital-marketers, $sp-i-ecommerce, $sp-i-facebook, $sp-i-google-analytics, $sp-i-google-drive, $sp-i-letter-o, $sp-i-list-circle, $sp-i-neighbours, $sp-i-timeseries, );
$spritesheet: (248px, 198px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 496px;
$retina-spritesheet-height: 396px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-agencies-2x, $sp-i-competitors-2x, $sp-i-digital-marketers-2x, $sp-i-ecommerce-2x, $sp-i-facebook-2x, $sp-i-google-analytics-2x, $sp-i-google-drive-2x, $sp-i-letter-o-2x, $sp-i-list-circle-2x, $sp-i-neighbours-2x, $sp-i-timeseries-2x, );
$retina-spritesheet: (496px, 396px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-agencies-group-name: 'sp-i-agencies';
$sp-i-agencies-group: ('sp-i-agencies', $sp-i-agencies, $sp-i-agencies-2x, );
$sp-i-competitors-group-name: 'sp-i-competitors';
$sp-i-competitors-group: ('sp-i-competitors', $sp-i-competitors, $sp-i-competitors-2x, );
$sp-i-digital-marketers-group-name: 'sp-i-digitalMarketers';
$sp-i-digital-marketers-group: ('sp-i-digitalMarketers', $sp-i-digital-marketers, $sp-i-digital-marketers-2x, );
$sp-i-ecommerce-group-name: 'sp-i-ecommerce';
$sp-i-ecommerce-group: ('sp-i-ecommerce', $sp-i-ecommerce, $sp-i-ecommerce-2x, );
$sp-i-facebook-group-name: 'sp-i-facebook';
$sp-i-facebook-group: ('sp-i-facebook', $sp-i-facebook, $sp-i-facebook-2x, );
$sp-i-google-analytics-group-name: 'sp-i-googleAnalytics';
$sp-i-google-analytics-group: ('sp-i-googleAnalytics', $sp-i-google-analytics, $sp-i-google-analytics-2x, );
$sp-i-google-drive-group-name: 'sp-i-googleDrive';
$sp-i-google-drive-group: ('sp-i-googleDrive', $sp-i-google-drive, $sp-i-google-drive-2x, );
$sp-i-letter-o-group-name: 'sp-i-letter-O';
$sp-i-letter-o-group: ('sp-i-letter-O', $sp-i-letter-o, $sp-i-letter-o-2x, );
$sp-i-list-circle-group-name: 'sp-i-list-circle';
$sp-i-list-circle-group: ('sp-i-list-circle', $sp-i-list-circle, $sp-i-list-circle-2x, );
$sp-i-neighbours-group-name: 'sp-i-neighbours';
$sp-i-neighbours-group: ('sp-i-neighbours', $sp-i-neighbours, $sp-i-neighbours-2x, );
$sp-i-timeseries-group-name: 'sp-i-timeseries';
$sp-i-timeseries-group: ('sp-i-timeseries', $sp-i-timeseries, $sp-i-timeseries-2x, );
$retina-groups: ($sp-i-agencies-group, $sp-i-competitors-group, $sp-i-digital-marketers-group, $sp-i-ecommerce-group, $sp-i-facebook-group, $sp-i-google-analytics-group, $sp-i-google-drive-group, $sp-i-letter-o-group, $sp-i-list-circle-group, $sp-i-neighbours-group, $sp-i-timeseries-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
