// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-action-name: 'sp-i-action';
$sp-i-action-x: 0px;
$sp-i-action-y: 146px;
$sp-i-action-offset-x: 0px;
$sp-i-action-offset-y: -146px;
$sp-i-action-width: 119px;
$sp-i-action-height: 143px;
$sp-i-action-total-width: 354px;
$sp-i-action-total-height: 289px;
$sp-i-action-image: '../image/sprite.png';
$sp-i-action: (0px, 146px, 0px, -146px, 119px, 143px, 354px, 289px, '../image/sprite.png', 'sp-i-action', );
$sp-i-agencies-name: 'sp-i-agencies';
$sp-i-agencies-x: 246px;
$sp-i-agencies-y: 193px;
$sp-i-agencies-offset-x: -246px;
$sp-i-agencies-offset-y: -193px;
$sp-i-agencies-width: 57px;
$sp-i-agencies-height: 40px;
$sp-i-agencies-total-width: 354px;
$sp-i-agencies-total-height: 289px;
$sp-i-agencies-image: '../image/sprite.png';
$sp-i-agencies: (246px, 193px, -246px, -193px, 57px, 40px, 354px, 289px, '../image/sprite.png', 'sp-i-agencies', );
$sp-i-analysis-name: 'sp-i-analysis';
$sp-i-analysis-x: 0px;
$sp-i-analysis-y: 0px;
$sp-i-analysis-offset-x: 0px;
$sp-i-analysis-offset-y: 0px;
$sp-i-analysis-width: 150px;
$sp-i-analysis-height: 141px;
$sp-i-analysis-total-width: 354px;
$sp-i-analysis-total-height: 289px;
$sp-i-analysis-image: '../image/sprite.png';
$sp-i-analysis: (0px, 0px, 0px, 0px, 150px, 141px, 354px, 289px, '../image/sprite.png', 'sp-i-analysis', );
$sp-i-arrow-name: 'sp-i-arrow';
$sp-i-arrow-x: 246px;
$sp-i-arrow-y: 139px;
$sp-i-arrow-offset-x: -246px;
$sp-i-arrow-offset-y: -139px;
$sp-i-arrow-width: 90px;
$sp-i-arrow-height: 49px;
$sp-i-arrow-total-width: 354px;
$sp-i-arrow-total-height: 289px;
$sp-i-arrow-image: '../image/sprite.png';
$sp-i-arrow: (246px, 139px, -246px, -139px, 90px, 49px, 354px, 289px, '../image/sprite.png', 'sp-i-arrow', );
$sp-i-close-name: 'sp-i-close';
$sp-i-close-x: 197px;
$sp-i-close-y: 89px;
$sp-i-close-offset-x: -197px;
$sp-i-close-offset-y: -89px;
$sp-i-close-width: 32px;
$sp-i-close-height: 32px;
$sp-i-close-total-width: 354px;
$sp-i-close-total-height: 289px;
$sp-i-close-image: '../image/sprite.png';
$sp-i-close: (197px, 89px, -197px, -89px, 32px, 32px, 354px, 289px, '../image/sprite.png', 'sp-i-close', );
$sp-i-competitors-name: 'sp-i-competitors';
$sp-i-competitors-x: 246px;
$sp-i-competitors-y: 0px;
$sp-i-competitors-offset-x: -246px;
$sp-i-competitors-offset-y: 0px;
$sp-i-competitors-width: 108px;
$sp-i-competitors-height: 63px;
$sp-i-competitors-total-width: 354px;
$sp-i-competitors-total-height: 289px;
$sp-i-competitors-image: '../image/sprite.png';
$sp-i-competitors: (246px, 0px, -246px, 0px, 108px, 63px, 354px, 289px, '../image/sprite.png', 'sp-i-competitors', );
$sp-i-corner-name: 'sp-i-corner';
$sp-i-corner-x: 211px;
$sp-i-corner-y: 131px;
$sp-i-corner-offset-x: -211px;
$sp-i-corner-offset-y: -131px;
$sp-i-corner-width: 29px;
$sp-i-corner-height: 20px;
$sp-i-corner-total-width: 354px;
$sp-i-corner-total-height: 289px;
$sp-i-corner-image: '../image/sprite.png';
$sp-i-corner: (211px, 131px, -211px, -131px, 29px, 20px, 354px, 289px, '../image/sprite.png', 'sp-i-corner', );
$sp-i-digital-marketers-name: 'sp-i-digitalMarketers';
$sp-i-digital-marketers-x: 308px;
$sp-i-digital-marketers-y: 193px;
$sp-i-digital-marketers-offset-x: -308px;
$sp-i-digital-marketers-offset-y: -193px;
$sp-i-digital-marketers-width: 44px;
$sp-i-digital-marketers-height: 40px;
$sp-i-digital-marketers-total-width: 354px;
$sp-i-digital-marketers-total-height: 289px;
$sp-i-digital-marketers-image: '../image/sprite.png';
$sp-i-digital-marketers: (308px, 193px, -308px, -193px, 44px, 40px, 354px, 289px, '../image/sprite.png', 'sp-i-digitalMarketers', );
$sp-i-ecommerce-name: 'sp-i-ecommerce';
$sp-i-ecommerce-x: 246px;
$sp-i-ecommerce-y: 238px;
$sp-i-ecommerce-offset-x: -246px;
$sp-i-ecommerce-offset-y: -238px;
$sp-i-ecommerce-width: 51px;
$sp-i-ecommerce-height: 38px;
$sp-i-ecommerce-total-width: 354px;
$sp-i-ecommerce-total-height: 289px;
$sp-i-ecommerce-image: '../image/sprite.png';
$sp-i-ecommerce: (246px, 238px, -246px, -238px, 51px, 38px, 354px, 289px, '../image/sprite.png', 'sp-i-ecommerce', );
$sp-i-facebook-name: 'sp-i-facebook';
$sp-i-facebook-x: 155px;
$sp-i-facebook-y: 131px;
$sp-i-facebook-offset-x: -155px;
$sp-i-facebook-offset-y: -131px;
$sp-i-facebook-width: 20px;
$sp-i-facebook-height: 38px;
$sp-i-facebook-total-width: 354px;
$sp-i-facebook-total-height: 289px;
$sp-i-facebook-image: '../image/sprite.png';
$sp-i-facebook: (155px, 131px, -155px, -131px, 20px, 38px, 354px, 289px, '../image/sprite.png', 'sp-i-facebook', );
$sp-i-google-adwords-name: 'sp-i-googleAdwords';
$sp-i-google-adwords-x: 302px;
$sp-i-google-adwords-y: 238px;
$sp-i-google-adwords-offset-x: -302px;
$sp-i-google-adwords-offset-y: -238px;
$sp-i-google-adwords-width: 39px;
$sp-i-google-adwords-height: 37px;
$sp-i-google-adwords-total-width: 354px;
$sp-i-google-adwords-total-height: 289px;
$sp-i-google-adwords-image: '../image/sprite.png';
$sp-i-google-adwords: (302px, 238px, -302px, -238px, 39px, 37px, 354px, 289px, '../image/sprite.png', 'sp-i-googleAdwords', );
$sp-i-google-analytics-name: 'sp-i-googleAnalytics';
$sp-i-google-analytics-x: 155px;
$sp-i-google-analytics-y: 89px;
$sp-i-google-analytics-offset-x: -155px;
$sp-i-google-analytics-offset-y: -89px;
$sp-i-google-analytics-width: 37px;
$sp-i-google-analytics-height: 37px;
$sp-i-google-analytics-total-width: 354px;
$sp-i-google-analytics-total-height: 289px;
$sp-i-google-analytics-image: '../image/sprite.png';
$sp-i-google-analytics: (155px, 89px, -155px, -89px, 37px, 37px, 354px, 289px, '../image/sprite.png', 'sp-i-googleAnalytics', );
$sp-i-google-analytics-gray-name: 'sp-i-googleAnalyticsGray';
$sp-i-google-analytics-gray-x: 155px;
$sp-i-google-analytics-gray-y: 174px;
$sp-i-google-analytics-gray-offset-x: -155px;
$sp-i-google-analytics-gray-offset-y: -174px;
$sp-i-google-analytics-gray-width: 21px;
$sp-i-google-analytics-gray-height: 21px;
$sp-i-google-analytics-gray-total-width: 354px;
$sp-i-google-analytics-gray-total-height: 289px;
$sp-i-google-analytics-gray-image: '../image/sprite.png';
$sp-i-google-analytics-gray: (155px, 174px, -155px, -174px, 21px, 21px, 354px, 289px, '../image/sprite.png', 'sp-i-googleAnalyticsGray', );
$sp-i-google-drive-name: 'sp-i-googleDrive';
$sp-i-google-drive-x: 181px;
$sp-i-google-drive-y: 174px;
$sp-i-google-drive-offset-x: -181px;
$sp-i-google-drive-offset-y: -174px;
$sp-i-google-drive-width: 21px;
$sp-i-google-drive-height: 21px;
$sp-i-google-drive-total-width: 354px;
$sp-i-google-drive-total-height: 289px;
$sp-i-google-drive-image: '../image/sprite.png';
$sp-i-google-drive: (181px, 174px, -181px, -174px, 21px, 21px, 354px, 289px, '../image/sprite.png', 'sp-i-googleDrive', );
$sp-i-letter-o-name: 'sp-i-letter-O';
$sp-i-letter-o-x: 180px;
$sp-i-letter-o-y: 131px;
$sp-i-letter-o-offset-x: -180px;
$sp-i-letter-o-offset-y: -131px;
$sp-i-letter-o-width: 26px;
$sp-i-letter-o-height: 26px;
$sp-i-letter-o-total-width: 354px;
$sp-i-letter-o-total-height: 289px;
$sp-i-letter-o-image: '../image/sprite.png';
$sp-i-letter-o: (180px, 131px, -180px, -131px, 26px, 26px, 354px, 289px, '../image/sprite.png', 'sp-i-letter-O', );
$sp-i-list-circle-name: 'sp-i-list-circle';
$sp-i-list-circle-x: 341px;
$sp-i-list-circle-y: 139px;
$sp-i-list-circle-offset-x: -341px;
$sp-i-list-circle-offset-y: -139px;
$sp-i-list-circle-width: 10px;
$sp-i-list-circle-height: 10px;
$sp-i-list-circle-total-width: 354px;
$sp-i-list-circle-total-height: 289px;
$sp-i-list-circle-image: '../image/sprite.png';
$sp-i-list-circle: (341px, 139px, -341px, -139px, 10px, 10px, 354px, 289px, '../image/sprite.png', 'sp-i-list-circle', );
$sp-i-neighbours-name: 'sp-i-neighbours';
$sp-i-neighbours-x: 246px;
$sp-i-neighbours-y: 68px;
$sp-i-neighbours-offset-x: -246px;
$sp-i-neighbours-offset-y: -68px;
$sp-i-neighbours-width: 94px;
$sp-i-neighbours-height: 66px;
$sp-i-neighbours-total-width: 354px;
$sp-i-neighbours-total-height: 289px;
$sp-i-neighbours-image: '../image/sprite.png';
$sp-i-neighbours: (246px, 68px, -246px, -68px, 94px, 66px, 354px, 289px, '../image/sprite.png', 'sp-i-neighbours', );
$sp-i-timeseries-name: 'sp-i-timeseries';
$sp-i-timeseries-x: 155px;
$sp-i-timeseries-y: 0px;
$sp-i-timeseries-offset-x: -155px;
$sp-i-timeseries-offset-y: 0px;
$sp-i-timeseries-width: 86px;
$sp-i-timeseries-height: 84px;
$sp-i-timeseries-total-width: 354px;
$sp-i-timeseries-total-height: 289px;
$sp-i-timeseries-image: '../image/sprite.png';
$sp-i-timeseries: (155px, 0px, -155px, 0px, 86px, 84px, 354px, 289px, '../image/sprite.png', 'sp-i-timeseries', );
$sp-i-action-2x-name: 'sp-i-action@2x';
$sp-i-action-2x-x: 0px;
$sp-i-action-2x-y: 292px;
$sp-i-action-2x-offset-x: 0px;
$sp-i-action-2x-offset-y: -292px;
$sp-i-action-2x-width: 238px;
$sp-i-action-2x-height: 286px;
$sp-i-action-2x-total-width: 708px;
$sp-i-action-2x-total-height: 578px;
$sp-i-action-2x-image: '../image/sprite@2x.png';
$sp-i-action-2x: (0px, 292px, 0px, -292px, 238px, 286px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-action@2x', );
$sp-i-agencies-2x-name: 'sp-i-agencies@2x';
$sp-i-agencies-2x-x: 492px;
$sp-i-agencies-2x-y: 386px;
$sp-i-agencies-2x-offset-x: -492px;
$sp-i-agencies-2x-offset-y: -386px;
$sp-i-agencies-2x-width: 114px;
$sp-i-agencies-2x-height: 80px;
$sp-i-agencies-2x-total-width: 708px;
$sp-i-agencies-2x-total-height: 578px;
$sp-i-agencies-2x-image: '../image/sprite@2x.png';
$sp-i-agencies-2x: (492px, 386px, -492px, -386px, 114px, 80px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-agencies@2x', );
$sp-i-analysis-2x-name: 'sp-i-analysis@2x';
$sp-i-analysis-2x-x: 0px;
$sp-i-analysis-2x-y: 0px;
$sp-i-analysis-2x-offset-x: 0px;
$sp-i-analysis-2x-offset-y: 0px;
$sp-i-analysis-2x-width: 300px;
$sp-i-analysis-2x-height: 282px;
$sp-i-analysis-2x-total-width: 708px;
$sp-i-analysis-2x-total-height: 578px;
$sp-i-analysis-2x-image: '../image/sprite@2x.png';
$sp-i-analysis-2x: (0px, 0px, 0px, 0px, 300px, 282px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-analysis@2x', );
$sp-i-arrow-2x-name: 'sp-i-arrow@2x';
$sp-i-arrow-2x-x: 492px;
$sp-i-arrow-2x-y: 278px;
$sp-i-arrow-2x-offset-x: -492px;
$sp-i-arrow-2x-offset-y: -278px;
$sp-i-arrow-2x-width: 180px;
$sp-i-arrow-2x-height: 98px;
$sp-i-arrow-2x-total-width: 708px;
$sp-i-arrow-2x-total-height: 578px;
$sp-i-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-arrow-2x: (492px, 278px, -492px, -278px, 180px, 98px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-arrow@2x', );
$sp-i-close-2x-name: 'sp-i-close@2x';
$sp-i-close-2x-x: 394px;
$sp-i-close-2x-y: 178px;
$sp-i-close-2x-offset-x: -394px;
$sp-i-close-2x-offset-y: -178px;
$sp-i-close-2x-width: 64px;
$sp-i-close-2x-height: 64px;
$sp-i-close-2x-total-width: 708px;
$sp-i-close-2x-total-height: 578px;
$sp-i-close-2x-image: '../image/sprite@2x.png';
$sp-i-close-2x: (394px, 178px, -394px, -178px, 64px, 64px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-close@2x', );
$sp-i-competitors-2x-name: 'sp-i-competitors@2x';
$sp-i-competitors-2x-x: 492px;
$sp-i-competitors-2x-y: 0px;
$sp-i-competitors-2x-offset-x: -492px;
$sp-i-competitors-2x-offset-y: 0px;
$sp-i-competitors-2x-width: 216px;
$sp-i-competitors-2x-height: 126px;
$sp-i-competitors-2x-total-width: 708px;
$sp-i-competitors-2x-total-height: 578px;
$sp-i-competitors-2x-image: '../image/sprite@2x.png';
$sp-i-competitors-2x: (492px, 0px, -492px, 0px, 216px, 126px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-competitors@2x', );
$sp-i-corner-2x-name: 'sp-i-corner@2x';
$sp-i-corner-2x-x: 422px;
$sp-i-corner-2x-y: 262px;
$sp-i-corner-2x-offset-x: -422px;
$sp-i-corner-2x-offset-y: -262px;
$sp-i-corner-2x-width: 58px;
$sp-i-corner-2x-height: 40px;
$sp-i-corner-2x-total-width: 708px;
$sp-i-corner-2x-total-height: 578px;
$sp-i-corner-2x-image: '../image/sprite@2x.png';
$sp-i-corner-2x: (422px, 262px, -422px, -262px, 58px, 40px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-corner@2x', );
$sp-i-digital-marketers-2x-name: 'sp-i-digitalMarketers@2x';
$sp-i-digital-marketers-2x-x: 616px;
$sp-i-digital-marketers-2x-y: 386px;
$sp-i-digital-marketers-2x-offset-x: -616px;
$sp-i-digital-marketers-2x-offset-y: -386px;
$sp-i-digital-marketers-2x-width: 88px;
$sp-i-digital-marketers-2x-height: 80px;
$sp-i-digital-marketers-2x-total-width: 708px;
$sp-i-digital-marketers-2x-total-height: 578px;
$sp-i-digital-marketers-2x-image: '../image/sprite@2x.png';
$sp-i-digital-marketers-2x: (616px, 386px, -616px, -386px, 88px, 80px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-digitalMarketers@2x', );
$sp-i-ecommerce-2x-name: 'sp-i-ecommerce@2x';
$sp-i-ecommerce-2x-x: 492px;
$sp-i-ecommerce-2x-y: 476px;
$sp-i-ecommerce-2x-offset-x: -492px;
$sp-i-ecommerce-2x-offset-y: -476px;
$sp-i-ecommerce-2x-width: 102px;
$sp-i-ecommerce-2x-height: 76px;
$sp-i-ecommerce-2x-total-width: 708px;
$sp-i-ecommerce-2x-total-height: 578px;
$sp-i-ecommerce-2x-image: '../image/sprite@2x.png';
$sp-i-ecommerce-2x: (492px, 476px, -492px, -476px, 102px, 76px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-ecommerce@2x', );
$sp-i-facebook-2x-name: 'sp-i-facebook@2x';
$sp-i-facebook-2x-x: 310px;
$sp-i-facebook-2x-y: 262px;
$sp-i-facebook-2x-offset-x: -310px;
$sp-i-facebook-2x-offset-y: -262px;
$sp-i-facebook-2x-width: 40px;
$sp-i-facebook-2x-height: 76px;
$sp-i-facebook-2x-total-width: 708px;
$sp-i-facebook-2x-total-height: 578px;
$sp-i-facebook-2x-image: '../image/sprite@2x.png';
$sp-i-facebook-2x: (310px, 262px, -310px, -262px, 40px, 76px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-facebook@2x', );
$sp-i-google-adwords-2x-name: 'sp-i-googleAdwords@2x';
$sp-i-google-adwords-2x-x: 604px;
$sp-i-google-adwords-2x-y: 476px;
$sp-i-google-adwords-2x-offset-x: -604px;
$sp-i-google-adwords-2x-offset-y: -476px;
$sp-i-google-adwords-2x-width: 78px;
$sp-i-google-adwords-2x-height: 74px;
$sp-i-google-adwords-2x-total-width: 708px;
$sp-i-google-adwords-2x-total-height: 578px;
$sp-i-google-adwords-2x-image: '../image/sprite@2x.png';
$sp-i-google-adwords-2x: (604px, 476px, -604px, -476px, 78px, 74px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-googleAdwords@2x', );
$sp-i-google-analytics-2x-name: 'sp-i-googleAnalytics@2x';
$sp-i-google-analytics-2x-x: 310px;
$sp-i-google-analytics-2x-y: 178px;
$sp-i-google-analytics-2x-offset-x: -310px;
$sp-i-google-analytics-2x-offset-y: -178px;
$sp-i-google-analytics-2x-width: 74px;
$sp-i-google-analytics-2x-height: 74px;
$sp-i-google-analytics-2x-total-width: 708px;
$sp-i-google-analytics-2x-total-height: 578px;
$sp-i-google-analytics-2x-image: '../image/sprite@2x.png';
$sp-i-google-analytics-2x: (310px, 178px, -310px, -178px, 74px, 74px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-googleAnalytics@2x', );
$sp-i-google-analytics-gray-2x-name: 'sp-i-googleAnalyticsGray@2x';
$sp-i-google-analytics-gray-2x-x: 310px;
$sp-i-google-analytics-gray-2x-y: 348px;
$sp-i-google-analytics-gray-2x-offset-x: -310px;
$sp-i-google-analytics-gray-2x-offset-y: -348px;
$sp-i-google-analytics-gray-2x-width: 42px;
$sp-i-google-analytics-gray-2x-height: 42px;
$sp-i-google-analytics-gray-2x-total-width: 708px;
$sp-i-google-analytics-gray-2x-total-height: 578px;
$sp-i-google-analytics-gray-2x-image: '../image/sprite@2x.png';
$sp-i-google-analytics-gray-2x: (310px, 348px, -310px, -348px, 42px, 42px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-googleAnalyticsGray@2x', );
$sp-i-google-drive-2x-name: 'sp-i-googleDrive@2x';
$sp-i-google-drive-2x-x: 362px;
$sp-i-google-drive-2x-y: 348px;
$sp-i-google-drive-2x-offset-x: -362px;
$sp-i-google-drive-2x-offset-y: -348px;
$sp-i-google-drive-2x-width: 42px;
$sp-i-google-drive-2x-height: 42px;
$sp-i-google-drive-2x-total-width: 708px;
$sp-i-google-drive-2x-total-height: 578px;
$sp-i-google-drive-2x-image: '../image/sprite@2x.png';
$sp-i-google-drive-2x: (362px, 348px, -362px, -348px, 42px, 42px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-googleDrive@2x', );
$sp-i-letter-o-2x-name: 'sp-i-letter-O@2x';
$sp-i-letter-o-2x-x: 360px;
$sp-i-letter-o-2x-y: 262px;
$sp-i-letter-o-2x-offset-x: -360px;
$sp-i-letter-o-2x-offset-y: -262px;
$sp-i-letter-o-2x-width: 52px;
$sp-i-letter-o-2x-height: 52px;
$sp-i-letter-o-2x-total-width: 708px;
$sp-i-letter-o-2x-total-height: 578px;
$sp-i-letter-o-2x-image: '../image/sprite@2x.png';
$sp-i-letter-o-2x: (360px, 262px, -360px, -262px, 52px, 52px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-letter-O@2x', );
$sp-i-list-circle-2x-name: 'sp-i-list-circle@2x';
$sp-i-list-circle-2x-x: 682px;
$sp-i-list-circle-2x-y: 278px;
$sp-i-list-circle-2x-offset-x: -682px;
$sp-i-list-circle-2x-offset-y: -278px;
$sp-i-list-circle-2x-width: 20px;
$sp-i-list-circle-2x-height: 20px;
$sp-i-list-circle-2x-total-width: 708px;
$sp-i-list-circle-2x-total-height: 578px;
$sp-i-list-circle-2x-image: '../image/sprite@2x.png';
$sp-i-list-circle-2x: (682px, 278px, -682px, -278px, 20px, 20px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-list-circle@2x', );
$sp-i-neighbours-2x-name: 'sp-i-neighbours@2x';
$sp-i-neighbours-2x-x: 492px;
$sp-i-neighbours-2x-y: 136px;
$sp-i-neighbours-2x-offset-x: -492px;
$sp-i-neighbours-2x-offset-y: -136px;
$sp-i-neighbours-2x-width: 188px;
$sp-i-neighbours-2x-height: 132px;
$sp-i-neighbours-2x-total-width: 708px;
$sp-i-neighbours-2x-total-height: 578px;
$sp-i-neighbours-2x-image: '../image/sprite@2x.png';
$sp-i-neighbours-2x: (492px, 136px, -492px, -136px, 188px, 132px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-neighbours@2x', );
$sp-i-timeseries-2x-name: 'sp-i-timeseries@2x';
$sp-i-timeseries-2x-x: 310px;
$sp-i-timeseries-2x-y: 0px;
$sp-i-timeseries-2x-offset-x: -310px;
$sp-i-timeseries-2x-offset-y: 0px;
$sp-i-timeseries-2x-width: 172px;
$sp-i-timeseries-2x-height: 168px;
$sp-i-timeseries-2x-total-width: 708px;
$sp-i-timeseries-2x-total-height: 578px;
$sp-i-timeseries-2x-image: '../image/sprite@2x.png';
$sp-i-timeseries-2x: (310px, 0px, -310px, 0px, 172px, 168px, 708px, 578px, '../image/sprite@2x.png', 'sp-i-timeseries@2x', );
$spritesheet-width: 354px;
$spritesheet-height: 289px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-action, $sp-i-agencies, $sp-i-analysis, $sp-i-arrow, $sp-i-close, $sp-i-competitors, $sp-i-corner, $sp-i-digital-marketers, $sp-i-ecommerce, $sp-i-facebook, $sp-i-google-adwords, $sp-i-google-analytics, $sp-i-google-analytics-gray, $sp-i-google-drive, $sp-i-letter-o, $sp-i-list-circle, $sp-i-neighbours, $sp-i-timeseries, );
$spritesheet: (354px, 289px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 708px;
$retina-spritesheet-height: 578px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-action-2x, $sp-i-agencies-2x, $sp-i-analysis-2x, $sp-i-arrow-2x, $sp-i-close-2x, $sp-i-competitors-2x, $sp-i-corner-2x, $sp-i-digital-marketers-2x, $sp-i-ecommerce-2x, $sp-i-facebook-2x, $sp-i-google-adwords-2x, $sp-i-google-analytics-2x, $sp-i-google-analytics-gray-2x, $sp-i-google-drive-2x, $sp-i-letter-o-2x, $sp-i-list-circle-2x, $sp-i-neighbours-2x, $sp-i-timeseries-2x, );
$retina-spritesheet: (708px, 578px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-action-group-name: 'sp-i-action';
$sp-i-action-group: ('sp-i-action', $sp-i-action, $sp-i-action-2x, );
$sp-i-agencies-group-name: 'sp-i-agencies';
$sp-i-agencies-group: ('sp-i-agencies', $sp-i-agencies, $sp-i-agencies-2x, );
$sp-i-analysis-group-name: 'sp-i-analysis';
$sp-i-analysis-group: ('sp-i-analysis', $sp-i-analysis, $sp-i-analysis-2x, );
$sp-i-arrow-group-name: 'sp-i-arrow';
$sp-i-arrow-group: ('sp-i-arrow', $sp-i-arrow, $sp-i-arrow-2x, );
$sp-i-close-group-name: 'sp-i-close';
$sp-i-close-group: ('sp-i-close', $sp-i-close, $sp-i-close-2x, );
$sp-i-competitors-group-name: 'sp-i-competitors';
$sp-i-competitors-group: ('sp-i-competitors', $sp-i-competitors, $sp-i-competitors-2x, );
$sp-i-corner-group-name: 'sp-i-corner';
$sp-i-corner-group: ('sp-i-corner', $sp-i-corner, $sp-i-corner-2x, );
$sp-i-digital-marketers-group-name: 'sp-i-digitalMarketers';
$sp-i-digital-marketers-group: ('sp-i-digitalMarketers', $sp-i-digital-marketers, $sp-i-digital-marketers-2x, );
$sp-i-ecommerce-group-name: 'sp-i-ecommerce';
$sp-i-ecommerce-group: ('sp-i-ecommerce', $sp-i-ecommerce, $sp-i-ecommerce-2x, );
$sp-i-facebook-group-name: 'sp-i-facebook';
$sp-i-facebook-group: ('sp-i-facebook', $sp-i-facebook, $sp-i-facebook-2x, );
$sp-i-google-adwords-group-name: 'sp-i-googleAdwords';
$sp-i-google-adwords-group: ('sp-i-googleAdwords', $sp-i-google-adwords, $sp-i-google-adwords-2x, );
$sp-i-google-analytics-group-name: 'sp-i-googleAnalytics';
$sp-i-google-analytics-group: ('sp-i-googleAnalytics', $sp-i-google-analytics, $sp-i-google-analytics-2x, );
$sp-i-google-analytics-gray-group-name: 'sp-i-googleAnalyticsGray';
$sp-i-google-analytics-gray-group: ('sp-i-googleAnalyticsGray', $sp-i-google-analytics-gray, $sp-i-google-analytics-gray-2x, );
$sp-i-google-drive-group-name: 'sp-i-googleDrive';
$sp-i-google-drive-group: ('sp-i-googleDrive', $sp-i-google-drive, $sp-i-google-drive-2x, );
$sp-i-letter-o-group-name: 'sp-i-letter-O';
$sp-i-letter-o-group: ('sp-i-letter-O', $sp-i-letter-o, $sp-i-letter-o-2x, );
$sp-i-list-circle-group-name: 'sp-i-list-circle';
$sp-i-list-circle-group: ('sp-i-list-circle', $sp-i-list-circle, $sp-i-list-circle-2x, );
$sp-i-neighbours-group-name: 'sp-i-neighbours';
$sp-i-neighbours-group: ('sp-i-neighbours', $sp-i-neighbours, $sp-i-neighbours-2x, );
$sp-i-timeseries-group-name: 'sp-i-timeseries';
$sp-i-timeseries-group: ('sp-i-timeseries', $sp-i-timeseries, $sp-i-timeseries-2x, );
$retina-groups: ($sp-i-action-group, $sp-i-agencies-group, $sp-i-analysis-group, $sp-i-arrow-group, $sp-i-close-group, $sp-i-competitors-group, $sp-i-corner-group, $sp-i-digital-marketers-group, $sp-i-ecommerce-group, $sp-i-facebook-group, $sp-i-google-adwords-group, $sp-i-google-analytics-group, $sp-i-google-analytics-gray-group, $sp-i-google-drive-group, $sp-i-letter-o-group, $sp-i-list-circle-group, $sp-i-neighbours-group, $sp-i-timeseries-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
