///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.change {
	position: relative;
	padding: {
		top: 70px;
		bottom: 140px;
	}
	
	// POSITION
	// MODIFY
	&_img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		@include mixinDimensions($w-all);
		
		&-left,
		&-right,
		&-bigS,
		&-smallS {
			z-index: 0;
			position: absolute;
		}
		&-left {
			top: 150px;
			left: 0;
		}
		&-right {
			top: 0;
			right: 0;
		}
		&-bigS {
			top: 50%;
			left: 5px;
		}
		&-smallS {
			top: 150px;
			left: 120px;
		}
	}
	.main__title {
		padding-bottom: 120px;
	}
	
	// BLOCK
	&__block {
		position: relative;
		width: 500px;
		min-height: 476px;
		padding: 35px;
		border-radius: 15px;
		background-color: $c-whiteSmoke;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		
		&-wrap {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			
			margin-bottom: 80px;
		}
		&-0 {
			margin-right: 100px;
		}
		&-1 {}
		&-header {
			margin-bottom: 15px;
		}
		&-icon {
			float: left;
			
			&--analysis {
				@include retina-sprite($sp-i-analysis-group);
			}
			&--action {
				@include retina-sprite($sp-i-action-group);
			}
		}
		&-badge {
			float: right;
			color: $c-royalBlue;
			font: {
				size: 14px;
				family: $f-RubikBlack;
			}
		}
		&-title {
			font: {
				size: 22px;
				family: $f-RubikMedium;
			}
			color: $c-eclipse;
			line-height: 1.2;
		}
		&-subTitle {
			font: {
				size: 28px;
				family: $f-RubikMedium;
			}
			color: $c-royalBlue;
			margin-bottom: 15px;
		}
		&-text {
			font: {
				size: 18px;
			}
			
			&_color {
				color: $c-royalBlue;
			}
		}
		&-arrow {
			position: absolute;
			top: 50%;
			right: -75px;
			margin-top: -(((49px * 3) + (10 * 2)) / 2);
			
			&-0,
			&-1,
			&-2 {
				display: block;
				@include retina-sprite($sp-i-arrow-group);
			}
			&-0 {
				margin-bottom: 10px;
			}
			&-1 {
				margin-bottom: 10px;
			}
		}
	}
	
	// BTN
	&__btn {
		position: relative;
		left: -110px;
		display: block;
		@include mixinDimensions(455px, 84px);
		margin: {
			left: auto;
			right: auto;
		}
		background-color: $c-mediumTurquoise;
		border: none;
		border-radius: 5em;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		font-size: 22px;
		color: $c-white;
		outline: none;
		transition: background-color 0.25s ease-in-out;
		
		&:hover,
		&:active {
			&:before {
				opacity: 0;
				transition: opacity 0.25s ease-in-out;
			}
		}
		&:hover {
			background-color: $c-royalBlue;
			transition: background-color 0.25s ease-in-out;
		}
		&:active {
			background-color: $c-darkSlateBlue;
			transition: background-color 0.25s ease-in-out;
		}
		
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 5em;
			@include mixinDimensions(84px);
			border: {
				width: 12px;
				style: solid;
				color: $c-royalBlue;
			}
			transition: opacity 0.25s ease-in-out;
		}
	}
}