///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.doit {
	position: relative;
	padding: {
		top: 45px;
		bottom: 150px;
	};
	@include mixinRespondTo(mobile) {
		padding: {
			top: 0;
			bottom: 100px;
		};
	}
	
	// POSITION
	
	// MODIFY
	&_img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		@include mixinDimensions($w-all);
		@include mixinRespondTo(mobile) {
			display: none;
		}
		
		@mixin imagePosition($src, $w, $h, $pos) {
			@include mixinDimensions($w, $h);
			background-image: url($src);
			background-position: $pos;
			background-repeat: no-repeat;
			background-size: $w;
		}
		
		&-bigS,
		&-smallS {
			z-index: 0;
			position: absolute;
		}
		&-bigS {
			&_0 {
				top: 15%;
				left: 5px;
				
				$imgSrcBigS: "../image/img-circleS-big_some.png";
				$imgBigSW: (174px / 2);
				$imgBigSH: (174px / 2);
				$imgPosBigS: unquote("top left");
				@include imagePosition($imgSrcBigS, $imgBigSW, $imgBigSH, $imgPosBigS);
			}
			&_1 {
				top: 50%;
				right: 30px;
				
				$imgSrcBigS: "../image/img-circleS-big_some.png";
				$imgBigSW: (174px / 2);
				$imgBigSH: (174px / 2);
				$imgPosBigS: unquote("top right");
				@include imagePosition($imgSrcBigS, $imgBigSW, $imgBigSH, $imgPosBigS);
			}
		}
		&-smallS {
			&_0 {
				top: 50%;
				left: 75px;
				
				$imgSrcSmallS: "../image/img-circleS-small_some.png";
				$imgSmallSW: (112px / 2);
				$imgSmallSH: (112px / 2);
				$imgPosSmallS: unquote("top left");
				@include imagePosition($imgSrcSmallS, $imgSmallSW, $imgSmallSH, $imgPosSmallS);
			}
			&_1 {
				top: 15%;
				right: 175px;
				
				$imgSrcSmallS: "../image/img-circleS-small_some.png";
				$imgSmallSW: (112px / 2);
				$imgSmallSH: (112px / 2);
				$imgPosSmallS: unquote("top right");
				@include imagePosition($imgSrcSmallS, $imgSmallSW, $imgSmallSH, $imgPosSmallS);
			}
		}
	}
	&_row {
		font-size: 0;
	}
	&_left,
	&_right {
		display: inline-block;
		vertical-align: top;
	}
	&_left {
		padding-top: 100px;
		width: 400px;
		@include mixinRespondTo(tablet) {
			width: calc(#{$w-all} - 300px);
			padding-right: 50px;
		}
		@include mixinRespondTo(mobile) {
			width: $w-all;
			padding-top: 0;
		}
	}
	&_right {
		padding: {
			left: 70px;
			top: 20px;
		}
		width: calc(#{$w-all} - 400px);
		@include mixinRespondTo(tablet) {
			width: 300px;
			padding: {
				left: 45px;
				top: 70px;
			}
		}
		@include mixinRespondTo(mobile) {
			display: none;
		}
	}
	
	// LIST
	&__list {
		margin-top: 102px;
		@include mixinRespondTo(mobile) {
			margin-top: 60px;
		}
	}
	
	// ITEM
	&__item {
		&_left,
		&_right {
			display: inline-block;
			vertical-align: top;
		}
		&_left {
			width: 100px;
		}
		&_right {
			width: calc(#{$w-all} - 100px);
			padding-top: 12px;
			font-size: 18px;
		}
		&-circle {
			@include mixinDimensions(64px);
			line-height: 56px;
			border: {
				width: 6px;
				style: solid;
				color: $c-royalBlue;
				radius: $w-all;
			}
			margin-right: 30px;
			text-align: center;
			
			&--num {
				font: {
					size: 14px;
					family: $f-RubikBlack;
				};
				color: $c-royalBlue;
			}
		}
		&-dot {
			display: block;
			@include mixinDimensions(6px);
			margin:{
				bottom: 5px;
				left: 29px;
			}
			background-color: $c-mediumTurquoise;
			border-radius: $w-all;
			
			&:first-of-type {
				margin-top: 5px;
			}
		}
	}
	
	// IMAGE
	&__img {
		display: block;
		@include mixinRespondTo(tablet) {
			display: none;
		}
		
		&_medium {
			display: none;
			@include mixinRespondTo(tablet) {
				display: block;
			}
		}
	}
}