///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.find {
	position: relative;
	padding-bottom: 150px;
	@include mixinRespondTo(tablet) {
		padding-bottom: 60px;
	}
	@include mixinRespondTo(mobile) {
		padding-bottom: 100px;
	}
	
	// POSITION
	// MODIFY
	&_img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		@include mixinDimensions($w-all);
		@include mixinRespondTo(mobile) {
			display: none;
		}
		
		@mixin imagePosition($src, $w, $h, $pos) {
			@include mixinDimensions($w, $h);
			background-image: url($src);
			background-position: $pos;
			background-repeat: no-repeat;
			background-size: $w;
		}
		
		&-left,
		&-right,
		&-bigS,
		&-smallS {
			z-index: 0;
			position: absolute;
		}
		&-left {
			top: -10%;
			left: 0;
			
			$imgSrcBig: "../image/img-circle-0_some.png";
			$imgBigW: (446px / 2);
			$imgBigH: (1458px / 2);
			$imgPosBig: unquote("-10px left");
			@include imagePosition($imgSrcBig, $imgBigW, $imgBigH, $imgPosBig);
		}
		&-right {
			top: 40%;
			right: 0;
			margin-top: -(752px / 4);
			
			$imgSrcBig: "../image/img-circle-1_some.png";
			$imgBigW: (326px / 2);
			$imgBigH: (752px / 2);
			$imgPosBig: unquote("40% right");
			@include imagePosition($imgSrcBig, $imgBigW, $imgBigH, $imgPosBig);
		}
		&-bigS {
			&_0 {
				top: 75%;
				left: 15px;
				
				$imgSrcBigS: "../image/img-circleS-big_some.png";
				$imgBigSW: (174px / 2);
				$imgBigSH: (174px / 2);
				$imgPosBigS: unquote("top left");
				@include imagePosition($imgSrcBigS, $imgBigSW, $imgBigSH, $imgPosBigS);
			}
			&_1 {
				top: 15%;
				right: 200px;
				
				$imgSrcBigS: "../image/img-circleS-big_some.png";
				$imgBigSW: (174px / 2);
				$imgBigSH: (174px / 2);
				$imgPosBigS: unquote("top right");
				@include imagePosition($imgSrcBigS, $imgBigSW, $imgBigSH, $imgPosBigS);
			}
		}
		&-smallS {
			top: 80%;
			right: 15px;
			
			$imgSrcSmallS: "../image/img-circleS-small_some.png";
			$imgSmallSW: (112px / 2);
			$imgSmallSH: (112px / 2);
			$imgPosSmallS: unquote("top right");
			@include imagePosition($imgSrcSmallS, $imgSmallSW, $imgSmallSH, $imgPosSmallS);
		}
	}
	.main__title {
		padding-top: 30px;
		margin-bottom: 120px;
		@include mixinRespondTo(mobile) {
			padding-top: 0;
			margin-bottom: 60px;
		}
	}
	
	// BLOCK
	&__block {
		width: 370px;
		min-height: 275px;
		padding: 30px 30px 15px;
		border-radius: 15px;
		background-color: $c-whiteSmoke;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		@include mixinRespondTo(small-desktop) {
			padding: 25px 25px 15px;
			width: 300px;
		}
		@include mixinRespondTo(tablet) {
			display: inline-block;
			vertical-align: top;
			margin-right: 95px;
			
			&:last-of-type {
				margin-right: 0;
			}
		}
		@include mixinRespondTo(mobile) {
			width: $w-all;
			padding: 30px;
			margin-bottom: 20px;
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		&-wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			@include mixinRespondTo(tablet) {
				display: block;
				position: relative;
				white-space: nowrap;
				overflow-y: auto;
				padding: {
					left: 30px;
					right: 30px;
					bottom: 50px;
				};
			}
			@include mixinRespondTo(mobile) {
				display: block;
			}
		}
		&-header {
			min-height: 84px;
		}
		&-icon {
			float: left;
			
			&--timeseries {
				@include retina-sprite($sp-i-timeseries-group);
			}
			&--neighbours {
				@include retina-sprite($sp-i-neighbours-group);
			}
			&--competitors {
				@include retina-sprite($sp-i-competitors-group);
			}
		}
		&-num {
			float: right;
			color: $c-royalBlue;
			font: {
				size: 14px;
				family: $f-RubikBlack;
			}
		}
		&-title {
			font: {
				size: 22px;
				family: $f-RubikMedium;
			}
			color: $c-eclipse;
			margin: {
				top: 25px;
				bottom: 30px;
			};
			@include mixinRespondTo(small-desktop) {
				font-size: 20px;
			}
			@include mixinRespondTo(small-mobile) {
				font-size: 18px;
			}
		}
		&-btn {
			float: right;
			position: relative;
			top: -4px;
			@include mixinDimensions(132px, 39px);
			background-color: $c-royalBlue;
			border-radius: 2em;
			border: none;
			color: $c-white;
			font-size: 18px;
			outline: none;
			transition: background-color 0.25s ease-in-out;
			@include mixinRespondTo(small-desktop) {
				@include mixinDimensions(122px, 35px);
				font-size: 16px;
			}
			@include mixinRespondTo(small-mobile) {
				@include mixinDimensions(112px, 35px);
				font-size: 16px;
			}
			
			&:active {
				background-color: $c-darkSlateBlue;
				transition: background-color 0.25s ease-in-out;
			}
			
			&--dot {
				display: inline-block;
				vertical-align: middle;
				@include mixinDimensions(4px);
				margin: {
					left: 3px;
					right: 3px;
				};
				border-radius: $w-all;
				background-color: $c-white;
				
				&:nth-of-type(1) {
					margin-left: 10px;
				}
				&:nth-of-type(2) {
					opacity: .75;
				}
				&:nth-of-type(3) {
					opacity: .5;
				}
			}
		}
		&-item {
			&--text {
				display: inline-block;
				vertical-align: top;
				font-size: 18px;
				line-height: 1.2;
				@include mixinRespondTo(small-desktop) {
					font-size: 16px;
				}
				@include mixinRespondTo(tablet) {
					white-space: normal;
				}
			}
		}
	}
}