///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.footer {
	min-height: 220px;
	@include mixinRespondTo(tablet) {
		min-height: 170px;
	}
	@include mixinRespondTo(tablet) {
		min-height: 0;
		padding-bottom: 20px;
	}
	
	// POSITION
	&_row {
		font-size: 0;
	}
	&_left,
	&_right {
		display: inline-block;
		vertical-align: top;
		
		font-size: 18px;
	}
	&_left {
		width: 270px;
		padding-top: 78px;
		@include mixinRespondTo(tablet) {
			width: 60%;
		}
		@include mixinRespondTo(mobile) {
			width: 80%;
			padding-top: 20px;
		}
	}
	&_right {
		width: calc(#{$w-all} - 270px);
		padding-top: 84px;
		
		@include mixinRespondTo(tablet) {
			width: 40%;
		}
		@include mixinRespondTo(mobile) {
			width: 20%;
			padding-top: 25px;
		}
	}
	
	// MODIFY
	&_logotype {
		@include mixinRespondTo(tablet) {
			float: left;
		}
		@include mixinRespondTo(mobile) {
			float: left;
		}
		
		.logotype__img {
			display: block;
			@include mixinRespondTo(mobile) {
				display: inline-block;
			}
			@media (max-width: 374px) {
				margin-top: 15px;
				height: (104px / 4) !important;
			}
		}
	}
	
	&_copyright {
		padding-top: 28px;
		@include mixinRespondTo(tablet) {
			float: right;
			padding-top: 15px;
		}
		@include mixinRespondTo(mobile) {
			float: right;
			padding-top: 15px;
		}
		
		.copyright {
			font-size: 14px;
			color: $c-slateGrey;
		}
	}
	.footer_social {
		padding-top: 30px;
		@include mixinRespondTo(small-desktop) {
			padding-top: 10px;
		}
		@include mixinRespondTo(tablet) {
			padding-top: 0;
		}
		@include mixinRespondTo(mobile) {
			padding-top: 0;
		}
		
		.social {
			&__btn {
				display: block;
				float: right;
				&_facebook {
					@include retina-sprite($sp-i-facebook-group);
				}
			}
		}
	}
	
	// MENU
	&__menu {
		font-size: 0;
		@include mixinRespondTo(tablet) {
			display: none;
		}
		@include mixinRespondTo(mobile) {
			.footer_right & {
				display: none;
			}
		}
		
		&_small {
			display: none;
			@include mixinRespondTo(mobile) {
				display: block;
			}
		}
		&-item {
			display: inline-block;
			vertical-align: top;
			padding-right: 29px;
			@include mixinRespondTo(mobile) {
				width: (100% / 3);
				min-height: 30px;
				padding-right: 5px;
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
		&-btn {
			font-size: 16px;
			color: $c-slateGrey;
			transition: color 0.25s ease-in-out;
			
			&:hover {
				color: $c-royalBlue;
				transition: color 0.25s ease-in-out;
			}
			&:active {
				color: $c-darkSlateBlue;
				transition: color 0.25s ease-in-out;
			}
		}
	}
}