///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.header {
	position: relative;
	min-height: 882px;
	padding: {
		top: 57px;
		bottom: 127px;
	}
	
	// POSITION
	&__row {}
	
	// MODIFY
	.header_logotype {
		.logotype {
			float: left;
		}
	}
	.container-default {
		padding-top: 161px;
		@include mixinRespondTo(small-desktop) {
			padding-top: 111px;
		}
	}
	&_img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		@include mixinDimensions($w-all);
		
		
		@mixin imagePosition($src, $w, $h, $pos) {
			@include mixinDimensions($w, $h);
			background-image: url($src);
			background-position: $pos;
			background-repeat: no-repeat;
			background-size: $w;
		}
		
		&-big,
		&-smallS,
		&-bigS {
			z-index: 0;
			position: absolute;
		}
		&-big {
			left: 0;
			top: 0;
			
			$imgSrcBig: "../image/img-circle_some.png";
			$imgBigW: (424px / 2);
			$imgBigH: (548px / 2);
			$imgPosBig: unquote("top left");
			@include imagePosition($imgSrcBig, $imgBigW, $imgBigH, $imgPosBig);
		}
		&-smallS {
			left: 102px;
			top: 377px;
			
			$imgSrcSmallS: "../image/img-circleS-small_some.png";
			$imgSmallSW: (112px / 2);
			$imgSmallSH: (112px / 2);
			$imgPosSmallS: unquote("top left");
			@include imagePosition($imgSrcSmallS, $imgSmallSW, $imgSmallSH, $imgPosSmallS);
		}
		&-bigS {
			left: 11px;
			top: 621px;
			
			$imgSrcBigS: "../image/img-circleS-big_some.png";
			$imgBigSW: (174px / 2);
			$imgBigSH: (174px / 2);
			$imgPosBigS: unquote("top left");
			@include imagePosition($imgSrcBigS, $imgBigSW, $imgBigSH, $imgPosBigS);
		}
	}
	
	// IMG
	&__img {
		$imageSizeWidth: (1988px / 2);
		$imageSizeHeight: (1568px / 2);
		
		position: absolute;
		top: 0;
		right: 0;
		@include mixinDimensions($imageSizeWidth, $imageSizeHeight);
		background-image: url("../image/img-header.png");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: $imageSizeWidth;
		@media (min-width: 290px) and (max-width: 1366px) {
			display: none;
		}
		
		&_medium {
			display: none;
			@media (min-width: 992px) and (max-width: 1366px) {
				$imageSizeWidth: (1112px / 2);
				$imageSizeHeight: (1112px / 2);
				
				display: block;
				position: absolute;
				top: 112px;
				right: 0;
				@include mixinDimensions($imageSizeWidth, $imageSizeHeight);
				background-image: url("../image/img-header_medium.png");
				background-position: top right;
				background-repeat: no-repeat;
				background-size: $imageSizeWidth;
			}
		}
	}
	
	// LOGIN
	&__login {
		float: right;
		padding: {
			right: 20px;
			top: 10px;
		}
		
		
		&-btn {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			height: 28px;
			line-height: 28px;
			
			&:first-child {
				position: relative;
				margin:{
					left: 0;
					right: 20px;
				}
				color: $c-royalBlue;
				transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
				
				&:hover {
					color: $c-mediumTurquoise;
					transition: color 0.25s ease-in-out;
					
					&:before {
						background-color: $c-mediumTurquoise;
						transition: background-color 0.25s ease-in-out;
					}
				}
				&:active {
					&:before {
						width: 24px;
						margin-left: -12px;
						transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;
					}
				}
				
				&:before {
					content: "";
					position: absolute;
					left: 50%;
					bottom: 0;
					@include mixinDimensions(36px, 1px);
					margin-left: -18px;
					background-color: $c-royalBlue;
					transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out;
				}
				
				&:after {
					content: "";
					position: absolute;
					top: 5px;
					right: -25px;
					@include mixinDimensions(1px, 18px);
					background-color: $c-slateGrey;
				}
			}
			
			&:last-child {
				background-color: $c-mediumTurquoise;
				border-radius: 2em;
				padding: {
					left: 10px;
					right: 10px;
				};
				color: $c-white;
				transition: background-color 0.25s ease-in-out;
				
				&:hover {
					background-color: $c-royalBlue;
					transition: background-color 0.25s ease-in-out;
				}
				&:active {
					background-color: $c-darkSlateBlue;
					transition: background-color 0.25s ease-in-out;
				}
			}
		}
	}
	
	// TITLE
	&__title {
		font: {
			family: $f-RubikBold;
			size: 36px;
		}
		color: $c-eclipse;
		line-height: 1.2;
		margin-bottom: 15px;
		text-transform: uppercase;
		
		&_letter {
			display: inline-block;
			margin: {
				left: 1.5px;
				right: 1.5px;
			};
			@include retina-sprite($sp-i-letter-o-group);
		}
	}
	
	// SUB TITLE
	&__subtitle {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 47px;
	}
	
	// BTN
	&__btn {
		position: relative;
		@include mixinDimensions(455px, 84px);
		margin-bottom: 75px;
		background-color: $c-mediumTurquoise;
		border: none;
		border-radius: 5em;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		font-size: 22px;
		color: $c-white;
		outline: none;
		transition: background-color 0.25s ease-in-out;
		
		&:hover,
		&:active {
			&:before {
				opacity: 0;
				transition: opacity 0.25s ease-in-out;
			}
		}
		&:hover {
			background-color: $c-royalBlue;
			transition: background-color 0.25s ease-in-out;
		}
		&:active {
			background-color: $c-darkSlateBlue;
			transition: background-color 0.25s ease-in-out;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 5em;
			@include mixinDimensions(84px);
			border: {
				width: 12px;
				style: solid;
				color: $c-royalBlue;
			}
			transition: opacity 0.25s ease-in-out;
		}
	}
	
	// SOCIAL
	&__social {
		&-block {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 90px;
			
			&:first-child {
				padding-top: 21px;
				width: 123px;
				font-size: 16px;
			}
		}
		
		&-btn {
			display: block;
			
			&--icon {
				display: block;
			}
			&--line {
				display: block;
				@include mixinDimensions(1px, 28px);
				background-color: $c-logan;
				margin: {
					top: 10px;
					bottom: 10px;
					left: 10px;
				};
			}
			&--text {
				position: absolute;
				left: -2px;
				bottom: -30px;
				font-size: 14px;
				color: $c-logan;
				transform: rotate(-90deg);
			}
			&_facebook {
				.header__social-btn--icon {
					@include retina-sprite($sp-i-facebook-group);
				}
			}
			&_googleDrive {
				padding: {
					top: 16px;
					left: 5px;
				}
				
				.header__social-btn--icon {
					@include retina-sprite($sp-i-google-drive-group);
				}
			}
			&_googleAnalyticsGray {
				padding-top: 15px;
				
				.header__social-btn--icon {
					@include retina-sprite($sp-i-google-analytics-gray-group);
				}
			}
		}
	}
}

