///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.insight {
	min-height: 532px;
	padding-top: 142px;
	@include mixinRespondTo(mobile) {
		padding: {
			top: 0;
			bottom: 100px;
		}
		min-height: 0;
	}
	
	.container {
		@include mixinRespondTo(mobile) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	
	// POSITION
	&__row {
		height: 252px;
		background-color: $c-royalBlue;
	}
	&_row {
		font-size: 0;
		padding-left: 570px;
		color: $c-white;
		@include mixinRespondTo(small-desktop) {
			padding-left: 460px;
		}
		@include mixinRespondTo(tablet) {
			padding-left: 275px;
		}
		@include mixinRespondTo(mobile) {
			padding-left: 0;
		}
	}
	&_container {
		@include mixinDimensions(#{$w-all}, 252px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include mixinRespondTo(tablet) {
			position: relative;
			z-index: 5;
		}
	}
	
	// ECLIPSE
	&__circle {
		z-index: 0;
		position: absolute;
		top: -147px;
		left: -60px;
		@include mixinDimensions(526px);
		border-radius: $w-all;
		border: {
			width: 100px;
			style: solid;
			color: $c-royalBlue;
		}
		background-color: $c-whiteSmoke;
		@include mixinRespondTo(tablet) {
			top: -97px;
			left: -85px;
			@include mixinDimensions(446px);
		}
		@include mixinRespondTo(mobile) {
			display: none;
		}
		
		&-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	// TITLE
	&__title {
		font: {
			size: 28px;
			family: $f-RubikMedium;
		}
		line-height: 1.2;
		margin-bottom: 15px;
		@include mixinRespondTo(tablet) {
			font-size: 24px;
		}
		@include mixinRespondTo(mobile) {
			font-size: 18px;
		}
	}
	
	// BTN
	&__btn {
		position: relative;
		@include mixinDimensions(400px, 52px);
		color: $c-white;
		border-radius: 2em;
		border: none;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		background-color: $c-mediumTurquoise;
		font-size: 22px;
		outline: none;
		transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
		@include mixinRespondTo(mobile) {
			width: 256px;
		}
		
		&:hover {
			.insight__btn-icon {
				opacity: 1;
				transition: opacity 0.25s ease-in-out;
			}
		}
		&:active {
			background-color: $c-darkSlateBlue;
			transition: background-color 0.25s ease-in-out;
			
			.insight__btn-icon {
				opacity: 0;
				transition: opacity 0.25s ease-in-out;
			}
		}
		
		&-icon {
			opacity: 0;
			position: absolute;
			top: 16px;
			right: 35px;
			@include retina-sprite($sp-i-corner-group);
		}
	}
	
	&__img {
		display: none;
		margin: {
			left: 20px;
			right: 20px;
		};
		@include mixinRespondTo(mobile) {
			display: block;
		}
	}
}