///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN BLOCK
///
.platform {
	position: relative;
	padding-bottom: 110px;
	
	// POSITION
	// MODIFY
	&_img {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		@include mixinDimensions($w-all);
		
		@mixin imagePosition($src, $w, $h, $pos) {
			@include mixinDimensions($w, $h);
			background-image: url($src);
			background-position: $pos;
			background-repeat: no-repeat;
			background-size: $w;
		}
		
		&-left,
		&-bigS {
			z-index: 0;
			position: absolute;
		}
		&-left {
			top: -50px;
			left: 0;
			
			$imgSrcBig: "../image/img-circle-2_some.png";
			$imgBigW: (316px / 2);
			$imgBigH: (752px / 2);
			$imgPosBig: unquote("-50px left");
			@include imagePosition($imgSrcBig, $imgBigW, $imgBigH, $imgPosBig);
		}
		&-bigS {
			&_0 {
				top: 40%;
				left: 50px;
			}
			&_1 {
				top: 65%;
				right: 50px;
			}
		}
	}
	.main__title {
		margin-bottom: 120px;
	}
	
	// BLOCK
	&__block {
		margin-right: 70px;
		
		&-wrap {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: flex-start;
		}
		&-image,
		&-num,
		&-title {
			margin-bottom: 15px;
		}
		&-image {
			display: block;
		}
		&-num {
			color: $c-royalBlue;
			font: {
				size: 14px;
				family: $f-RubikBlack;
			}
		}
		&-title {
			font: {
				size: 22px;
				family: $f-RubikMedium;
			}
			color: $c-eclipse;
		}
		&-text {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}