@font-face { font-family: "Rubik-Black"; src: url("../fonts/Rubik-Black.ttf") format("truetype"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Rubik-Bold"; src: url("../fonts/Rubik-Bold.ttf") format("truetype"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Rubik-Medium"; src: url("../fonts/Rubik-Medium.ttf") format("truetype"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Rubik-Regular"; src: url("../fonts/Rubik-Regular.ttf") format("truetype"); font-style: normal; font-weight: normal; }

 .container, .container-fluid, .container-default { z-index: 1; position: relative; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }

 .container-fluid { max-width: 100%; }

@media (min-width: 576px) {  .container { max-width: 540px; }
   .container-default { max-width: 540px; } }

@media (min-width: 768px) {  .container { max-width: 720px; }
   .container-default { max-width: 720px; } }

@media (min-width: 992px) {  .container { max-width: 960px; }
   .container-default { max-width: 960px; } }

@media (min-width: 1200px) {  .container { max-width: 1170px; }
   .container-default { max-width: 1170px; } }

 html { -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; }

 html, body { width: 100%; min-height: 100vh; }

@media screen and (max-width: 767px) {  html, body { overflow-x: hidden; } }

 html.open-menu, html.open-popup, body.open-menu, body.open-popup { overflow: hidden; }

 html { -webkit-tap-highlight-color: transparent; }

 body { position: relative; margin: 0; padding: 0; line-height: 1.42857143; font-size: 14px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "Rubik-Regular"; color: #6f7c9b; background-color: #f7f7f7; overflow-x: hidden; }

 * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

 *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

 button, input, optgroup, select, textarea { font-size: 100%; margin: 0; }

 button, input { overflow: visible; }

 button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

 button[disabled] { opacity: 0.55; cursor: not-allowed; }

 a, button { cursor: pointer; }

 [type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

 [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

 textarea { overflow: auto; }

 p, h1, h2, h3, h4, h5, h6, hr { margin: 0; }

 ul { margin: 0; padding: 0; }

 ul li { list-style: none; }

 a { text-decoration: none; color: #222; }

 input { outline: none; }

 input[type="text"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

 .clearfix { *zoom: 1; }

 .clearfix:after { clear: both; }

 .clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }

 .main__title { font-family: "Rubik-Bold"; font-size: 36px; color: #3e3d3d; line-height: 1.1; margin-bottom: 30px; text-transform: uppercase; }

 .header { position: relative; min-height: 882px; padding-top: 57px; padding-bottom: 127px; }

 .header .header_logotype .logotype { float: left; }

 .header .container-default { padding-top: 161px; }

 .header_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .header_img-big, .header_img-smallS, .header_img-bigS { z-index: 0; position: absolute; }

 .header_img-big { left: 0; top: 0; width: 212px; height: 274px; background-image: url("../image/img-circle_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 212px 212px; -moz-background-size: 212px; background-size: 212px; }

 .header_img-smallS { left: 102px; top: 377px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .header_img-bigS { left: 11px; top: 621px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .header__img { position: absolute; top: 0; right: 0; width: 994px; height: 784px; background-image: url("../image/img-header.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 994px 994px; -moz-background-size: 994px; background-size: 994px; }

 .header__login { float: right; padding-right: 20px; padding-top: 10px; }

 .header__login-btn { display: inline-block; vertical-align: top; margin-left: 20px; height: 28px; line-height: 28px; }

 .header__login-btn:first-child { position: relative; margin-left: 0; margin-right: 20px; color: #3564db; -webkit-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out; -o-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out; -moz-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out; transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out; }

 .header__login-btn:first-child:hover { color: #51d5cf; -webkit-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }

 .header__login-btn:first-child:hover:before { background-color: #51d5cf; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__login-btn:first-child:active:before { width: 24px; margin-left: -12px; -webkit-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; -o-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; -moz-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; }

 .header__login-btn:first-child:before { content: ""; position: absolute; left: 50%; bottom: 0; width: 36px; height: 1px; margin-left: -18px; background-color: #3564db; -webkit-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; -o-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; -moz-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; }

 .header__login-btn:first-child:after { content: ""; position: absolute; top: 5px; right: -25px; width: 1px; height: 18px; background-color: #6f7c9b; }

 .header__login-btn:last-child { background-color: #51d5cf; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; padding-left: 10px; padding-right: 10px; color: #fff; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__login-btn:last-child:hover { background-color: #3564db; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__login-btn:last-child:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__title { font-family: "Rubik-Bold"; font-size: 36px; color: #3e3d3d; line-height: 1.2; margin-bottom: 15px; text-transform: uppercase; }

 .header__title_letter { display: inline-block; margin-left: 1.5px; margin-right: 1.5px; background-image: url(../image/sprite.png); background-position: -197px -89px; width: 26px; height: 26px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .header__title_letter { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .header__subtitle { font-size: 18px; line-height: 1.2; margin-bottom: 47px; }

 .header__btn { position: relative; width: 455px; height: 84px; margin-bottom: 75px; background-color: #51d5cf; border: none; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); font-size: 22px; color: #fff; outline: none; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__btn:hover:before, .header__btn:active:before { opacity: 0; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .header__btn:hover { background-color: #3564db; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__btn:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .header__btn:before { content: ""; position: absolute; left: 0; top: 0; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em; width: 84px; height: 84px; border-width: 12px; border-style: solid; border-color: #3564db; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .header__social-block { position: relative; display: inline-block; vertical-align: top; width: 90px; }

 .header__social-block:first-child { padding-top: 21px; width: 123px; font-size: 16px; }

 .header__social-btn { display: block; }

 .header__social-btn--icon { display: block; }

 .header__social-btn--line { display: block; width: 1px; height: 28px; background-color: #a3a0bf; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; }

 .header__social-btn--text { position: absolute; left: -2px; bottom: -30px; font-size: 14px; color: #a3a0bf; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }

 .header__social-btn_facebook .header__social-btn--icon { background-image: url(../image/sprite.png); background-position: -155px -131px; width: 20px; height: 38px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .header__social-btn_facebook .header__social-btn--icon { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .header__social-btn_googleDrive { padding-top: 16px; padding-left: 5px; }

 .header__social-btn_googleDrive .header__social-btn--icon { background-image: url(../image/sprite.png); background-position: -181px -174px; width: 21px; height: 21px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .header__social-btn_googleDrive .header__social-btn--icon { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .header__social-btn_googleAnalyticsGray { padding-top: 15px; }

 .header__social-btn_googleAnalyticsGray .header__social-btn--icon { background-image: url(../image/sprite.png); background-position: -155px -174px; width: 21px; height: 21px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .header__social-btn_googleAnalyticsGray .header__social-btn--icon { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .data { position: relative; padding-bottom: 120px; }

 .data_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .data_img-left, .data_img-right, .data_img-smallS, .data_img-bigS { z-index: 0; position: absolute; }

 .data_img-left { top: 100px; left: 0; width: 223px; height: 729px; background-image: url("../image/img-circle-0_some.png"); background-position: 100px left; background-repeat: no-repeat; -webkit-background-size: 223px 223px; -moz-background-size: 223px; background-size: 223px; }

 .data_img-right { top: 50%; right: 0; margin-top: -188px; width: 163px; height: 376px; background-image: url("../image/img-circle-1_some.png"); background-position: 50% right; background-repeat: no-repeat; -webkit-background-size: 163px 163px; -moz-background-size: 163px; background-size: 163px; }

 .data_img-smallS { top: 75%; right: 75px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .data_img-bigS { top: 50px; right: 175px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .data__subTitle { font-size: 18px; margin-bottom: 57px; line-height: 1.2; }

 .save { position: relative; padding-top: 30px; padding-bottom: 140px; }

 .save .main__title { margin-bottom: 100px; }

 .save_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .save_img-left, .save_img-right, .save_img-bigS, .save_img-smallS { z-index: 0; position: absolute; }

 .save_img-left { top: 50%; margin-top: -188px; left: 0; width: 158px; height: 376px; background-image: url("../image/img-circle-2_some.png"); background-position: 50% left; background-repeat: no-repeat; -webkit-background-size: 158px 158px; -moz-background-size: 158px; background-size: 158px; }

 .save_img-right { bottom: 0; right: 0; width: 562px; height: 728px; background-image: url("../image/img-circle-3_some.png"); background-position: bottom right; background-repeat: no-repeat; -webkit-background-size: 562px 562px; -moz-background-size: 562px; background-size: 562px; }

 .save_img-bigS_0 { top: 75%; left: 50px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .save_img-bigS_1 { top: 15%; right: 345px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .save_img-smallS { top: 30%; right: 50px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .save__block { width: 370px; min-height: 365px; padding: 30px 30px 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background-color: #f7f7f7; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); }

 .save__block-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

 .save__block-icon { float: left; }

 .save__block-icon--ecommerce { background-image: url(../image/sprite.png); background-position: -246px -238px; width: 51px; height: 38px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .save__block-icon--ecommerce { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .save__block-icon--agencies { background-image: url(../image/sprite.png); background-position: -246px -193px; width: 57px; height: 40px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .save__block-icon--agencies { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .save__block-icon--digitalMarketers { background-image: url(../image/sprite.png); background-position: -308px -193px; width: 44px; height: 40px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .save__block-icon--digitalMarketers { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .save__block-num { float: right; margin-top: 10px; color: #3564db; font-size: 14px; font-family: "Rubik-Black"; }

 .save__block-title { font-size: 22px; font-family: "Rubik-Medium"; color: #3e3d3d; margin-top: 25px; margin-bottom: 30px; }

 .save__block-item { margin-bottom: 25px; }

 .save__block-item:last-child { margin-bottom: 0; }

 .save__block-item--icon, .save__block-item--text { display: inline-block; vertical-align: top; }

 .save__block-item--icon { margin-top: 7px; margin-right: 10px; background-image: url(../image/sprite.png); background-position: -341px -139px; width: 10px; height: 10px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .save__block-item--icon { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .save__block-item--text { font-size: 18px; line-height: 1.2; width: -webkit-calc(100% - 20px); width: -moz-calc(100% - 20px); width: calc(100% - 20px); }

 .insight { min-height: 532px; padding-top: 142px; }

 .insight__row { height: 252px; background-color: #3564db; }

 .insight_row { font-size: 0; padding-left: 570px; color: #fff; }

 .insight_container { width: 100%; height: 252px; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }

 .insight__circle { position: absolute; top: -147px; left: -60px; width: 526px; height: 526px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border-width: 100px; border-style: solid; border-color: #3564db; background-color: #f7f7f7; }

 .insight__circle-img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

 .insight__title { font-size: 28px; font-family: "Rubik-Medium"; line-height: 1.2; margin-bottom: 15px; }

 .insight__btn { position: relative; width: 400px; height: 52px; color: #fff; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; border: none; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); background-color: #51d5cf; font-size: 22px; outline: none; -webkit-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out; transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out; }

 .insight__btn:hover .insight__btn-icon { opacity: 1; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .insight__btn:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .insight__btn:active .insight__btn-icon { opacity: 0; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .insight__btn-icon { opacity: 0; position: absolute; top: 16px; right: 35px; background-image: url(../image/sprite.png); background-position: -180px -131px; width: 29px; height: 20px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .insight__btn-icon { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .doit { position: relative; padding-top: 45px; padding-bottom: 150px; }

 .doit_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .doit_img-bigS, .doit_img-smallS { z-index: 0; position: absolute; }

 .doit_img-bigS_0 { top: 15%; left: 5px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .doit_img-bigS_1 { top: 50%; right: 30px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .doit_img-smallS_0 { top: 50%; left: 75px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .doit_img-smallS_1 { top: 15%; right: 175px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .doit_row { font-size: 0; }

 .doit_left, .doit_right { display: inline-block; vertical-align: top; }

 .doit_left { padding-top: 100px; width: 400px; }

 .doit_right { padding-left: 70px; padding-top: 20px; width: -webkit-calc(100% - 400px); width: -moz-calc(100% - 400px); width: calc(100% - 400px); }

 .doit__list { margin-top: 102px; }

 .doit__item_left, .doit__item_right { display: inline-block; vertical-align: top; }

 .doit__item_left { width: 100px; }

 .doit__item_right { width: -webkit-calc(100% - 100px); width: -moz-calc(100% - 100px); width: calc(100% - 100px); padding-top: 12px; font-size: 18px; }

 .doit__item-circle { width: 64px; height: 64px; line-height: 56px; border-width: 6px; border-style: solid; border-color: #3564db; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; margin-right: 30px; text-align: center; }

 .doit__item-circle--num { font-size: 14px; font-family: "Rubik-Black"; color: #3564db; }

 .doit__item-dot { display: block; width: 6px; height: 6px; margin-bottom: 5px; margin-left: 29px; background-color: #51d5cf; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

 .doit__item-dot:first-of-type { margin-top: 5px; }

 .find { position: relative; padding-bottom: 260px; }

 .find_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .find_img-left, .find_img-right, .find_img-bigS, .find_img-smallS { z-index: 0; position: absolute; }

 .find_img-left { top: -10%; left: 0; width: 223px; height: 729px; background-image: url("../image/img-circle-0_some.png"); background-position: -10px left; background-repeat: no-repeat; -webkit-background-size: 223px 223px; -moz-background-size: 223px; background-size: 223px; }

 .find_img-right { top: 40%; right: 0; margin-top: -188px; width: 163px; height: 376px; background-image: url("../image/img-circle-1_some.png"); background-position: 40% right; background-repeat: no-repeat; -webkit-background-size: 163px 163px; -moz-background-size: 163px; background-size: 163px; }

 .find_img-bigS_0 { top: 75%; left: 15px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .find_img-bigS_1 { top: 15%; right: 200px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .find_img-smallS { top: 80%; right: 15px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .find .main__title { padding-top: 30px; margin-bottom: 120px; }

 .find__block { width: 370px; min-height: 275px; padding: 30px 30px 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background-color: #f7f7f7; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); }

 .find__block-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

 .find__block-header { min-height: 84px; }

 .find__block-icon { float: left; }

 .find__block-icon--timeseries { background-image: url(../image/sprite.png); background-position: -155px 0px; width: 86px; height: 84px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .find__block-icon--timeseries { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .find__block-icon--neighbours { background-image: url(../image/sprite.png); background-position: -246px -68px; width: 94px; height: 66px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .find__block-icon--neighbours { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .find__block-icon--competitors { background-image: url(../image/sprite.png); background-position: -246px 0px; width: 108px; height: 63px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .find__block-icon--competitors { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .find__block-num { float: right; color: #3564db; font-size: 14px; font-family: "Rubik-Black"; }

 .find__block-title { font-size: 22px; font-family: "Rubik-Medium"; color: #3e3d3d; margin-top: 25px; margin-bottom: 30px; }

 .find__block-btn { float: right; position: relative; top: -4px; width: 132px; height: 39px; background-color: #3564db; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; border: none; color: #fff; font-size: 18px; outline: none; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .find__block-btn:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .find__block-btn--dot { display: inline-block; vertical-align: middle; width: 4px; height: 4px; margin-left: 3px; margin-right: 3px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background-color: #fff; }

 .find__block-btn--dot:nth-of-type(1) { margin-left: 10px; }

 .find__block-btn--dot:nth-of-type(2) { opacity: .75; }

 .find__block-btn--dot:nth-of-type(3) { opacity: .5; }

 .find__block-item--text { display: inline-block; vertical-align: top; font-size: 18px; line-height: 1.2; }

 .integrations { position: relative; padding-top: 140px; padding-bottom: 250px; }

 .integrations_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .integrations_img-right { z-index: 0; position: absolute; }

 .integrations_img-right { top: 0; right: 0; width: 562px; height: 728px; background-image: url("../image/img-circle-3_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 562px 562px; -moz-background-size: 562px; background-size: 562px; }

 .integrations .main__title { margin-bottom: 120px; }

 .integrations__block { width: 300px; }

 .integrations__block-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

 .integrations__block-icon { display: block; }

 .integrations__block-icon--facebook { background-image: url(../image/sprite.png); background-position: -155px -131px; width: 20px; height: 38px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .integrations__block-icon--facebook { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .integrations__block-icon--googleAdwords { background-image: url(../image/sprite.png); background-position: -302px -238px; width: 39px; height: 37px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .integrations__block-icon--googleAdwords { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .integrations__block-icon--googleAnalytics { background-image: url(../image/sprite.png); background-position: -155px -89px; width: 37px; height: 37px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .integrations__block-icon--googleAnalytics { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .integrations__block-title { font-size: 22px; font-family: "Rubik-Medium"; color: #3e3d3d; margin-top: 15px; margin-bottom: 25px; }

 .integrations__block-text { position: relative; font-size: 14px; color: #3564db; }

 .integrations__block-text_connect { display: inline-block; }

 .integrations__block-text_connect:hover { color: #51d5cf; -webkit-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }

 .integrations__block-text_connect:hover:before { background-color: #51d5cf; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .integrations__block-text_connect:active:before { width: 65%; margin-left: -32.5%; -webkit-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; -o-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; -moz-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; }

 .integrations__block-text_connect:before { content: ""; position: absolute; bottom: -3px; left: 50%; margin-left: -46.5%; width: 93%; height: 1px; background-color: #3564db; -webkit-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; -o-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; -moz-transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out, background-color 0.25s ease-in-out; }

 .integrations__block-text_big { font-size: 18px; }

 .integrations__block-dot { display: inline-block; vertical-align: middle; width: 4px; height: 4px; margin-left: 3px; margin-right: 3px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background-color: #3564db; }

 .integrations__block-dot:nth-of-type(2) { margin-left: 10px; }

 .integrations__block-dot:nth-of-type(3) { opacity: .75; }

 .integrations__block-dot:nth-of-type(4) { opacity: .5; }

 .platform { position: relative; padding-bottom: 110px; }

 .platform_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .platform_img-left, .platform_img-bigS { z-index: 0; position: absolute; }

 .platform_img-left { top: -50px; left: 0; width: 158px; height: 376px; background-image: url("../image/img-circle-2_some.png"); background-position: -50px left; background-repeat: no-repeat; -webkit-background-size: 158px 158px; -moz-background-size: 158px; background-size: 158px; }

 .platform_img-bigS_0 { top: 40%; left: 50px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .platform_img-bigS_1 { top: 65%; right: 50px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .platform .main__title { margin-bottom: 120px; }

 .platform__block { margin-right: 70px; }

 .platform__block-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: baseline; -webkit-align-items: baseline; -moz-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

 .platform__block-image, .platform__block-num, .platform__block-title { margin-bottom: 15px; }

 .platform__block-image { display: block; }

 .platform__block-num { color: #3564db; font-size: 14px; font-family: "Rubik-Black"; }

 .platform__block-title { font-size: 22px; font-family: "Rubik-Medium"; color: #3e3d3d; }

 .platform__block-text { font-size: 16px; line-height: 1.2; }

 .change { position: relative; padding-top: 70px; padding-bottom: 140px; }

 .change_img { z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

 .change_img-left, .change_img-right, .change_img-bigS, .change_img-smallS { z-index: 0; position: absolute; }

 .change_img-left { top: 150px; left: 0; width: 223px; height: 729px; background-image: url("../image/img-circle-0_some.png"); background-position: 150px left; background-repeat: no-repeat; -webkit-background-size: 223px 223px; -moz-background-size: 223px; background-size: 223px; }

 .change_img-right { top: 0; right: 0; width: 223px; height: 526px; background-image: url("../image/img-circle-4_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 223px 223px; -moz-background-size: 223px; background-size: 223px; }

 .change_img-bigS { top: 50%; left: 5px; width: 87px; height: 87px; background-image: url("../image/img-circleS-big_some.png"); background-position: top left; background-repeat: no-repeat; -webkit-background-size: 87px 87px; -moz-background-size: 87px; background-size: 87px; }

 .change_img-smallS { top: 150px; left: 120px; width: 56px; height: 56px; background-image: url("../image/img-circleS-small_some.png"); background-position: top right; background-repeat: no-repeat; -webkit-background-size: 56px 56px; -moz-background-size: 56px; background-size: 56px; }

 .change .main__title { padding-bottom: 120px; }

 .change__block { position: relative; width: 500px; min-height: 476px; padding: 35px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; background-color: #f7f7f7; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); }

 .change__block-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -webkit-justify-content: flex-start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-bottom: 80px; }

 .change__block-0 { margin-right: 100px; }

 .change__block-header { margin-bottom: 15px; }

 .change__block-icon { float: left; }

 .change__block-icon--analysis { background-image: url(../image/sprite.png); background-position: 0px 0px; width: 150px; height: 141px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .change__block-icon--analysis { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .change__block-icon--action { background-image: url(../image/sprite.png); background-position: 0px -146px; width: 119px; height: 143px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .change__block-icon--action { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .change__block-badge { float: right; color: #3564db; font-size: 14px; font-family: "Rubik-Black"; }

 .change__block-title { font-size: 22px; font-family: "Rubik-Medium"; color: #3e3d3d; line-height: 1.2; margin-bottom: 10px; }

 .change__block-subTitle { font-size: 28px; font-family: "Rubik-Medium"; color: #3564db; margin-bottom: 10px; }

 .change__block-text { font-size: 18px; }

 .change__block-text_color { display: block; margin-top: 10px; margin-bottom: 10px; font-size: 28px; font-family: "Rubik-Medium"; color: #3564db; line-height: 1.2; }

 .change__block-arrow { position: absolute; top: 50%; right: -75px; margin-top: -83.5px; }

 .change__block-arrow-0, .change__block-arrow-1, .change__block-arrow-2 { display: block; background-image: url(../image/sprite.png); background-position: -246px -139px; width: 90px; height: 49px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .change__block-arrow-0, .change__block-arrow-1, .change__block-arrow-2 { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .change__block-arrow-0 { margin-bottom: 10px; }

 .change__block-arrow-1 { margin-bottom: 10px; }

 .change__btn { position: relative; left: -40px; display: block; width: 455px; height: 84px; margin-left: auto; margin-right: auto; background-color: #51d5cf; border: none; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); font-size: 22px; color: #fff; outline: none; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .change__btn:hover:before, .change__btn:active:before { opacity: 0; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .change__btn:hover { background-color: #3564db; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .change__btn:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .change__btn:before { content: ""; position: absolute; left: 0; top: 0; -webkit-border-radius: 5em; -moz-border-radius: 5em; border-radius: 5em; width: 84px; height: 84px; border-width: 12px; border-style: solid; border-color: #3564db; -webkit-transition: opacity 0.25s ease-in-out; -o-transition: opacity 0.25s ease-in-out; -moz-transition: opacity 0.25s ease-in-out; transition: opacity 0.25s ease-in-out; }

 .contacts { min-height: 532px; padding-top: 147px; }

 .contacts__row { height: 252px; background-color: #3564db; }

 .contacts_row { font-size: 0; padding-left: 400px; color: #fff; }

 .contacts_right, .contacts_left { position: relative; display: inline-block; vertical-align: top; }

 .contacts_right { width: 570px; height: 252px; display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }

 .contacts_left { width: -webkit-calc(100% - 570px); width: -moz-calc(100% - 570px); width: calc(100% - 570px); }

 .contacts__circle { position: absolute; top: -147px; left: -60px; width: 526px; height: 526px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border-width: 100px; border-style: solid; border-color: #3564db; background-color: #f7f7f7; }

 .contacts__circle-img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

 .contacts__title { font-size: 28px; font-family: "Rubik-Medium"; line-height: 1.2; margin-bottom: 15px; }

 .contacts__text { font-size: 18px; line-height: 1.2; }

 .contacts__form { padding-top: 55px; }

 .contacts__form-input, .contacts__form-btn { width: 100%; height: 52px; color: #fff; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }

 .contacts__form-input { border-width: 2px; border-style: solid; border-color: #fff; background-color: transparent; padding-right: 25px; padding-left: 25px; margin-bottom: 30px; font-size: 18px; -webkit-transition: border-color 0.25s ease-in-out; -o-transition: border-color 0.25s ease-in-out; -moz-transition: border-color 0.25s ease-in-out; transition: border-color 0.25s ease-in-out; }

 .contacts__form-input:focus { border-color: #51d5cf; -webkit-transition: border-color 0.25s ease-in-out; -o-transition: border-color 0.25s ease-in-out; -moz-transition: border-color 0.25s ease-in-out; transition: border-color 0.25s ease-in-out; }

 .contacts__form-input::-webkit-input-placeholder { color: #fff; }

 .contacts__form-input::-moz-placeholder { color: #fff; }

 .contacts__form-input:-ms-input-placeholder { color: #fff; }

 .contacts__form-input:-moz-placeholder { color: #fff; }

 .contacts__form-btn { border: none; -webkit-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); -moz-box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14); background-color: #51d5cf; font-size: 22px; outline: none; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .contacts__form-btn:active { background-color: #484299; -webkit-transition: background-color 0.25s ease-in-out; -o-transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; transition: background-color 0.25s ease-in-out; }

 .footer { min-height: 220px; }

 .footer_row { font-size: 0; }

 .footer_left, .footer_right { display: inline-block; vertical-align: top; font-size: 18px; }

 .footer_left { width: 470px; padding-top: 78px; }

 .footer_right { width: -webkit-calc(100% - 470px); width: -moz-calc(100% - 470px); width: calc(100% - 470px); padding-top: 84px; }

 .footer_logotype .logotype__img { display: block; }

 .footer_copyright { padding-top: 28px; }

 .footer_copyright .copyright { font-size: 14px; color: #6f7c9b; }

 .footer .footer_social { padding-top: 30px; }

 .footer .footer_social .social__btn { display: block; float: right; }

 .footer .footer_social .social__btn_facebook { background-image: url(../image/sprite.png); background-position: -155px -131px; width: 20px; height: 38px; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {  .footer .footer_social .social__btn_facebook { background-image: url(../image/sprite@2x.png); -webkit-background-size: 354px 289px; -moz-background-size: 354px 289px; background-size: 354px 289px; } }

 .footer__menu { font-size: 0; }

 .footer__menu-item { display: inline-block; vertical-align: top; padding-right: 29px; }

 .footer__menu-item:last-child { padding-right: 0; }

 .footer__menu-btn { font-size: 16px; color: #6f7c9b; -webkit-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }

 .footer__menu-btn:hover { color: #3564db; -webkit-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }

 .footer__menu-btn:active { color: #484299; -webkit-transition: color 0.25s ease-in-out; -o-transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; transition: color 0.25s ease-in-out; }
