///
/// ADDITIONAL FILES
///
@import "../../_mixin/mixin";
@import "../../_variable/variable";
///
/// MAIN STYLE
///
.main {
	&__title {
		font: {
			family: $f-RubikBold;
			size: 36px;
		}
		color: $c-eclipse;
		line-height: 1.1;
		margin-bottom: 30px;
		text-transform: uppercase;
		@include mixinRespondTo(tablet) {
			font-size: 32px;
		}
		@include mixinRespondTo(mobile) {
			font-size: 24px;
		}
		@include mixinRespondTo(small-mobile) {
			font-size: 19px;
		}
		
		svg {
			height: 30px;
			@include mixinRespondTo(mobile) {
				height: 20px;
			}
		}
	}
}

.swap {
	display: none;
	@include mixinRespondTo(tablet) {
		display: block;
	}
	
	&__text,
	&__line,
	&__circle {
		display: inline-block;
		vertical-align: middle;
	}
	&__text {
		position: relative;
		top: 1px;
		font-size: 14px;
		margin-right: 15px;
	}
	&__line {
		@include mixinDimensions(84px, 1px);
		border-radius: $w-all;
		background-color: rgba($c-eclipse, 0.75);
		margin-right: 15px;
	}
	&__circle {
		@include mixinDimensions(6px);
		border-radius: $w-all;
		box-shadow: inset 0 0 0 1px rgba($c-eclipse, 0.75);
		transition: box-shadow 0.25s ease-in-out;
		margin-right: 15px;
		
		&:last-of-type {
			margin-right: 0;
		}
		
		&.active {
			box-shadow: inset 0 0 0 0 rgba($c-eclipse, 0.75), 0 0 0 2px $c-royalBlue;
			transition: box-shadow 0.25s ease-in-out;
		}
	}
}

.mainLarge_right,
.mainMedium_right,
.resize_right,
.resize_left,
.resize_left-s,
.resize_right-s {
	opacity: 0;
	
	&.visible {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}
}
.resize_left-s,
.resize_right-s {
	@include mixinRespondTo(small-desktop-max) {
		display: none;
	}
}
@keyframes fadeIn {
	from {  opacity: 0;  }
	to {  opacity: 1;  }
}

// cookie
.cookie {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	@include mixinDimensions($w-all, 180px);
	background-color: $c-royalBlue;
	@include mixinRespondTo(mobile) {
		height: auto;
		min-height: 180px;
		padding: 15px 0;
	}
	
	&__row {
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mixinRespondTo(mobile) {
			flex-direction: column;
			height: auto;
		}
	}
	&_left,
	&_right {
		@include mixinRespondTo(mobile) {
			width: $w-all;
		}
	}
	&__tille {
		font: {
			size: 24px;
			family: $f-RubikBold;
		}
		margin-bottom: 10px;
		color: $c-white;
		@include mixinRespondTo(mobile) {
			br {
				display: none;
			}
		}
	}
	&__text {
		font-size: 18px;
		color: $c-white;
		@include mixinRespondTo(mobile) {
			margin-bottom: 20px;
		}
	}
	&__btn {
		position: relative;
		@include mixinDimensions(250px, 52px);
		color: $c-white;
		border-radius: 2em;
		border: none;
		box-shadow: 0 15px 48px 0 rgba(53, 99, 219, 0.14);
		background-color: $c-mediumTurquoise;
		font-size: 22px;
		outline: none;
		transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
		@include mixinRespondTo(mobile) {
			width: 256px;
		}
		@include mixinRespondTo(small-mobile) {
			font-size: 19px;
			width: $w-all;
		}
		
		&:hover {
			.insight__btn-icon {
				opacity: 1;
				transition: opacity 0.25s ease-in-out;
			}
		}
		&:active {
			background-color: $c-darkSlateBlue;
			transition: background-color 0.25s ease-in-out;
			
			.insight__btn-icon {
				opacity: 0;
				transition: opacity 0.25s ease-in-out;
			}
		}
	}
}