///
/// ADDITIONAL FILES
///
@import "../../_mixin/mixin";
@import "../../_variable/variable";
///
/// MAIN STYLE
///
.main {
	&__title {
		font: {
			family: $f-RubikBold;
			size: 36px;
		}
		color: $c-eclipse;
		line-height: 1.1;
		margin-bottom: 30px;
		text-transform: uppercase;
		@include mixinRespondTo(tablet) {
			font-size: 32px;
		}
	}
}

.mainLarge_right,
.mainMedium_right,
.resize_right,
.resize_left,
.resize_left-s,
.resize_right-s {
	opacity: 0;
	
	&.visible {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}
}
.resize_left-s,
.resize_right-s {
	@include mixinRespondTo(small-desktop-max) {
		display: none;
	}
}
@keyframes fadeIn {
	from {  opacity: 0;  }
	to {  opacity: 1;  }
}