/// ADDITIONALLY
%container {
	z-index: 1;
	position: relative;
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: 15px;
		right: 15px;
	}
}

// MAIN
.container {
	@extend %container;

	&-fluid {
		@extend %container;
		max-width: 100%;
	}
	&-default {
		@extend %container;
	}
}

// MEDIA QUERY
@media (min-width: 576px) {
	.container {
		max-width: 100%;
		
		&-default {
			max-width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 100%;
		
		&-default {
			max-width: 100%;
		}
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
		
		&-default {
			max-width: 960px;
		}
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
		
		&-default {
			max-width: 1170px;
		}
	}
}
