/// ADDITIONALLY
%container {
	position: relative;
	height: 100%;
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: 15px;
		right: 15px;
	}
}

// MAIN
.container {
	@extend %container;
	min-width: 300px;

	&-fluid {
		@extend %container;
		max-width: 100%;
	}
}

// MEDIA QUERY
@media only screen and (max-width: 575px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		min-width: 290px;
		max-width: 767px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width:  750px;
	}
}
@media only screen and (max-width: 991px) {
	.container {
		max-width:  970px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 1170px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1330px;
	}
}
