//- ====================
//- DATA
//- ====================
-
    var saveTitle = "and optimizes the whole marketing funnel";
    var saveTitleGradient = "It saves up to 50% of your ad spendings";
    var saveTitleGradient1 = "It saves up to 50% of your";
    var saveTitleGradient2 = "ad spendings";
    var saveBlockTitle = [
        "E-commerce",
        "Agencies",
        "Digital marketers"
    ];
    var saveIconName = [
        "ecommerce",
        "agencies",
        "digitalMarketers"
    ];
    var saveNum = [
        "01",
        "02",
        "03"
    ];
    var saveArrData = [
        [
            "Optimize your ad spendings",
            "Get higher conversion rate and lower CPA",
            "Make data driven decisions"
        ],
        [
            "Control multiple projects better - never miss on important things in your campaigns",
            "Get a competitive advantage with the AI tool",
            "Outperfrom campaigns KPIs - bring added value to a client"
        ],
        [
            "Get valuable analytics effortlessly",
            "Be aware of important changes and trends in your data",
            "React fast and leverage opprotunities"
        ]
    ];


//- ====================
//- FUNCTION/PROCEDURE
//- ====================
mixin saveBlock(arrTitle, arrIconName, arrNum, arrList)
    -for(var i = 0; i < arrTitle.length; i++)
        .save__block(class="save__block_" + i)

            .save__block-header.clearfix
                i.save__block-icon(class="save__block-icon--" + arrIconName[i])
                span.save__block-num!= arrNum[i]

            p.save__block-title!= arrTitle[i]

            ul.save__block-list
                -for(var j = 0; j < arrList[i].length; j++)
                    li.save__block-item
                        i.save__block-item--icon
                        span.save__block-item--text!= arrList[i][j]



//- ====================
//- MAIN
//- ====================
section.save.scrollSpy#save

    .save_img
        i.save_img-left.resize_left
        i.save_img-right.resize_right
        i.save_img-smallS.resize_right-s
        i.save_img-bigS.save_img-bigS_0.resize_left-s
        i.save_img-bigS.save_img-bigS_1.resize_right-s


    .container-default

        .main__title_other
            +mainTitle(2, saveTitle, saveTitleGradient)

        .main__title_mobile
            +mainTitle(4, saveTitle, saveTitleGradient1, saveTitleGradient2)

        .save__block-wrap
            +saveBlock(saveBlockTitle, saveIconName, saveNum, saveArrData)