include _mixin/mixin
include _mixin/macrosMixin


doctype html


html(
    lang="en"
    class="js"
)

    +headSite("Captain Growth", linkSite.styleLinkIndex, "")

    body.body#body


        include _template/_header

        include _template/_dataDriver

        include _template/_save

        include _template/_insight

        include _template/_doit

        include _template/_contacts

        include _template/_footer


    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])